<div class="tab-pane" id="hypotheses-section">
    <div class="col-xl-12">
        {% if hypotheses__count %}
            {% include "projects/hypothesis/table.html" with entries=hypotheses project_view=True truncated=hypotheses__truncated %}
        {% else %}
            <small>No entries linked.</small>
        {% endif %}
    </div>
    <div class="text-center py-2">
        <a role="button"
           class="btn btn-outline-success btn-sm"
           target="_blank"
           href="{% url 'data_explorer:table-entry-new' 'Hypothesis' %}?project_id={{ table_entry.id }}">Add New <i class="mdi mdi-plus"></i></a>
        <a role="button"
           class="btn btn-outline-primary btn-sm"
           target="_blank"
           href="{% url 'data_explorer:table' 'Hypothesis' %}?project_id={{ table_entry.id }}">View All <i class="mdi mdi-open-in-new"></i></a>
    </div>
</div>
