<div class="tab-pane" id="config-section">
    <div class="row m-5">
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <thead class="table-primary">
                    <tr>
                        <th>Metadata & Links</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Workflow Name</td>
                        <td>{{ workflow.name_full }}</td>
                    </tr>
                    <tr>
                        <td>Python Class Name</td>
                        <td>{{ workflow.name_python }}</td>
                    </tr>
                    <tr>
                        <td>Python Path</td>
                        <td>{{ workflow.python_path }}</td>
                    </tr>
                    <tr>
                        <td>Database Table</td>
                        <td>{{ workflow.database_table.table_name }}</td>
                    </tr>
                    <tr>
                        <td>Source Code</td>
                        <td>
                            <a type="button"
                               class="btn btn-sm btn-dark"
                               href="{{ workflow.source_code_link }}"
                               target="_blank">
                                Github <i class="bi bi-github"></i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-5">{{ workflow.get_config_markdown|markdown }}</div>
</div>
