<div class="tab-pane" id="parameters-section">
    <div class="row">
        <table class="table table-centered table-striped mb-0 border">
            <thead class="table-primary">
                <tr>
                    <th>
                        Parameter (<i class="mdi mdi-star-circle"></i>= required)
                    </th>
                    <th>Default</th>
                    <th>Docs</th>
                </tr>
            </thead>
            <tbody>
                {# Required Parameters #}
                {% for parameter in workflow.parameter_names_required %}
                    <tr>
                        <td>
                            <i class="mdi mdi-star-circle"></i>&nbsp;&nbsp;{{ parameter }}
                        </td>
                        <td></td>
                        <td>
                            <a href="https://jacksund.github.io/simmate/parameters/#{{ parameter }}"
                               target="_blank"
                               rel="noopener"
                               title="Open parameter docs">
                                <button class="btn btn-link p-0" style="vertical-align: middle;">
                                    <i class="mdi mdi-open-in-new"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                {# Optional Parameters #}
                {% for parameter, default_value in workflow.parameter_defaults.items %}
                    <tr>
                        <td>{{ parameter }}</td>
                        <td>{{ default_value }}</td>
                        <td>
                            <a href="https://jacksund.github.io/simmate/parameters/#{{ parameter }}"
                               target="_blank"
                               rel="noopener"
                               title="Open parameter docs">
                                <button class="btn btn-link p-0" style="vertical-align: middle;">
                                    <i class="mdi mdi-open-in-new"></i>
                                </button>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <p>
            <small>Read through our
                <a href="https://jacksund.github.io/simmate/parameters/" target="_blank">our parameter documentation</a>
                for more information.
            </small>
        </p>
    </div>
</div>
