<ul class="nav nav-tabs nav-bordered mb-3">
    <li class="nav-item">
        <a href="#overview-section"
           data-bs-toggle="tab"
           aria-expanded="true"
           class="nav-link active">
            <i class="mdi mdi-home-variant d-md-none d-block"></i>
            <span class="d-none d-md-block">Overview</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#parameters-section"
           data-bs-toggle="tab"
           aria-expanded="false"
           class="nav-link">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Parameters</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#pricing-section"
           data-bs-toggle="tab"
           aria-expanded="false"
           class="nav-link">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Pricing</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#results-section"
           data-bs-toggle="tab"
           aria-expanded="false"
           class="nav-link">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Results</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#submit-section"
           data-bs-toggle="tab"
           aria-expanded="false"
           class="nav-link">
            <i class="mdi mdi-account-circle d-md-none d-block"></i>
            <span class="d-none d-md-block">Submit</span>
        </a>
    </li>
</ul>
