{% extends "data_explorer/table_entries_base.html" %}
{% block table_headers %}
    {% table_header "id" "ID" min_width=150 %}
    {% table_header "energy_above_hull" "E<sub>hull</sub> (eV/atom)" min_width=150 %}
    {% include "data_explorer/mixins/structure/columns.html" %}
{% endblock %}
{% block table_rows %}
    <td>{% foreign_key_link entry "id" %}</td>
    <td class="text-center">
        {% if entry.energy_above_hull is not None %}
            {{ entry.energy_above_hull }}
        {% else %}
            --
        {% endif %}
    </td>
    {% include "data_explorer/mixins/structure/rows.html" %}
{% endblock %}
