{% extends "core_components/site_base.html" %}
{% block tabtitle %}Data - Simmate{% endblock %}
{% block body %}
    {# Header #}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Data Explorer</h1>
            <p class="lead text-muted">Each option below corresponds to a single table in our database. Select one to explore.</p>
        </div>
    </section>
    <div class="container-fluid mt-4">
        {# Main loop for sections #}
        {% for section_name, datasets in data_config.items %}
            {% if datasets and section_name != "HIDDEN" %}
                {# Section Heading #}
                <h3 class="mt-4 mb-3 border-bottom pb-2 text-primary">{{ section_name }}</h3>
                {# Start of the table for the current section #}
                <div class="table-responsive mb-5">
                    <table class="table table-striped table-hover align-middle">
                        <thead class="table-success">
                            <tr>
                                <th scope="col" style="width: 20%">Dataset</th>
                                <th scope="col" style="width: 10%">Entries (#)</th>
                                <th scope="col" style="width: 10%">Size (GB)</th>
                                <th scope="col" style="width: 50%">Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for dataset in datasets %}
                                <tr>
                                    <td>
                                        {# the extra style is to make the link be the entire cell #}
                                        <a class="text-dark"
                                           href="{% url 'data_explorer:table' dataset.table_name %}"
                                           style="display: block;
                                                  width: 100%;
                                                  height: 100%;
                                                  padding: 0;
                                                  text-decoration: none">
                                            {{ dataset.html_display_name }} <i class="bi bi-box-arrow-in-right"></i>
                                        </a>
                                    </td>
                                    <td>
                                        {% if dataset.num_rows_cache is not None %}
                                            {{ dataset.num_rows_cache|floatformat:0|intcomma }}
                                        {% else %}
                                            <span class="text-muted fst-italic">---</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if dataset.download_size_cache is not None %}
                                            {{ dataset.download_size_cache|floatformat:0|intcomma }}
                                        {% else %}
                                            <span class="text-muted fst-italic">---</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <small>{{ dataset.html_description_short }}</small>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {# End of the table for the current section #}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
