{% extends "core_components/site_base.html" %}
{% block tabtitle %}{{ table.table_name }} Data - Simmate{% endblock %}
{% block body %}
    <div class="row">
        {# Buttons & Sidebars #}
        <div class="col-8">
            <a href="{% url 'data_explorer:table-about' table.table_name %}"
               class="btn btn-primary my-1">
                <i class="mdi mdi-information"></i>&nbsp;&nbsp;Table Info</a>
            {# Quick Search Sidebar #}
            {% block quicksearch %}
                {% if table.html_form_view and "search" in table.html_enabled_forms %}
                    {% include "data_explorer/table_search.html" %}
                    {# ELSE: include "data_explorer/table_filters.html" (disabled for now) #}
                {% endif %}
            {% endblock %}
            {# Update Sidebar #}
            {% block updater %}
                {% if table.html_form_view and "update_many" in table.html_enabled_forms %}
                    {% include "data_explorer/table_update_many.html" %}
                {% endif %}
            {% endblock %}
            {# Add New Sidebar #}
            {% block addnew %}
                {% if table.html_form_view and "create" in table.html_enabled_forms %}
                    {% include "data_explorer/table_add_entry.html" %}
                {% endif %}
            {% endblock %}
            <a href="{% update_url format='csv' %}" class="btn btn-secondary my-1">
                <i class="mdi mdi-download"></i>&nbsp;&nbsp;Download</a>
        </div>
        {# Table Description #}
        <div class="col-4">
            <p class="lead text-muted">{{ table.html_description_short }}</p>
        </div>
    </div>
    {# Search Results #}
    {% block search_results %}
        {% load humanize %}
        <div id="search-results" class="row">
            {% if page.object_list %}
                <div class="alert alert-primary d-flex align-items-center mt-2"
                     role="alert">
                    <i class="mdi mdi-check-circle"></i>&nbsp;&nbsp;
                    <div>
                        Showing <b>{{ page.start_index }}-{{ page.end_index }}</b> of
                        <b>
                            {# linting is disabled for this line to stop it from adding a space #}
                            {# djlint:off #}
                                    {% if total == 10000 %}&gt;{% endif %}{{ total|intcomma }}
                            {# djlint:on #}
                        </b> filtered results.
                        {% if total == 10000 %}
                            We limit searches to 10k results for our Web UI and API. Switch to Python or SQL if you need the full dataset.
                        {% endif %}
                        <a class="text-dark fw-bold text-decoration-underline" href=".">
                            Reset Filters <i class="mdi mdi-refresh"></i>
                        </a>
                    </div>
                </div>
                {% block search_results_table %}
                    {% if table.html_form_view and "update_many" in table.html_enabled_forms %}
                        {% include table.html_entries_template with enable_select=True entries=page.object_list %}
                    {% else %}
                        {% include table.html_entries_template with enable_select=False entries=page.object_list %}
                    {% endif %}
                {% endblock %}
                {% include "data_explorer/pagination.html" %}
            {% else %}
                <div class="alert alert-danger d-flex align-items-center p-2" role="alert">
                    <div>
                        <i class="mdi mdi-alert-circle"></i>&nbsp;&nbsp;<b>No entries were found that match your search criteria!</b>&nbsp;&nbsp;
                        <a class="text-dark fw-bold text-decoration-underline" href=".">
                            Reset Filters<i class="mdi mdi-refresh"></i>
                        </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endblock %}
{% endblock %}
