<div class="offcanvas offcanvas-end w-75" id="offcanvasAddEntry">
    <div class="offcanvas-header bg-dark text-light">
        <h5>Add New Entry</h5>
        <button type="button"
                class="btn-close text-reset"
                data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div>
            {% if table.html_form_component and "create_many" in table.html_enabled_forms %}
                <div class="alert alert-info" role="alert">
                    <i class="bi bi-info-circle mx-2"></i>
                    Need to upload many entries at once? Switch to the <a href="{% url 'data_explorer:table-entry-new-many' table.table_name %}"><b>bulk upload form <i class="bi bi-box-arrow-up-right"></i></b></a>
                </div>
            {% endif %}
            {% htmx_component table.html_form_component component_key="createpopout" form_mode="create" redirect_mode="refresh" %}
        </div>
    </div>
</div>
<button class="btn btn-success"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasAddEntry">
    <i class="bi bi-plus-circle py-1"></i>&nbsp;&nbsp;Add
</button>
