{% extends "data_explorer/table_entry.html" %}
{% block entrycontent %}
    <div class="row py-2">
        {# header #}
        <div class="row pb-2">
            <div class="col-12">
                <div class="page-title-box">
                    <div class="page-title-right m-0">
                        <a role="button"
                           class="btn btn-outline-primary btn-sm"
                           href="{% url 'data_explorer:table-entry-update' table_entry.table_name table_entry.id %}">Update <i class="mdi mdi-pencil-outline"></i></a>
                    </div>
                    <h3 class="m-0">Overview</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            {# base info #}
            <div class="row pt-2">
                <div class="col-xl-7">
                    <table class="table table-centered table-striped mb-0 border">
                        <thead class="table-primary">
                            <tr>
                                <th style="width: 45%">Base Info</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Current Status</td>
                                <td>{{ table_entry.get_status_display }}</td>
                            </tr>
                            <tr>
                                <td>Name</td>
                                <td>{{ table_entry.name }}</td>
                            </tr>
                            <tr>
                                <td>Project</td>
                                <td>{{ table_entry.project.name }}</td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td>
                                    {% for tag in table_entry.tags.all %}
                                        {% foreign_key_link tag "name" "pill" %}
                                    {% endfor %}
                                </td>
                            </tr>
                            <tr>
                                <td>Created by</td>
                                <td>{{ table_entry.created_by.first_name }} {{ table_entry.created_by.last_name }}</td>
                            </tr>
                            <tr>
                                <td>Driven by</td>
                                <td>{{ table_entry.driven_by.first_name }} {{ table_entry.driven_by.last_name }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {# Description #}
    <div class="row py-2">
        <div class="col-12">
            <table class="table table-sm table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ table_entry.description|linebreaks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    {# Comments #}
    <div class="row py-2">
        <div class="col-12">
            <table class="table table-sm table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th>Comments</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ table_entry.comments|linebreaks }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <hr>
{% endblock %}
