<div class="tab-pane" id="assays-section">
    <div class="row py-2">
        <div class="col-xl-12">
            <table class="table table-sm table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th>Assay Type</th>
                        <th>Value Type</th>
                        <th>Relation</th>
                        <th>Value</th>
                        <th>Units</th>
                        <th>Description</th>
                        <th>Link</th>
                    </tr>
                </thead>
                <tbody>
                    {% for assay in table_entry.chembl_assay_results.all|slice:":100" %}
                        <tr>
                            <td>{{ assay.assay_type|default:"--" }}</td>
                            <td>{{ assay.value_type|default:"--" }}</td>
                            <td>{{ assay.value_relation|default:"=" }}</td>
                            <td>{{ assay.value|default:"--" }}</td>
                            <td>{{ assay.value_units|default:"--" }}</td>
                            <td>{{ assay.description|default:"--" }}</td>
                            <td>
                                <a href="{% url 'data_explorer:table-entry' assay.table_name assay.id %}"
                                   target="_blank"
                                   class="btn btn-sm btn-light">
                                    View <i class="mdi mdi-open-in-new"></i>
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7" class="text-center">No linked assays found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% if table_entry.chembl_assay_results.count > 100 %}
                <div class="text-center mt-2">
                    <p class="text-muted">
                        <em>Showing only the first 100 assays.</em>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
</div>
