<td>{{ entry.run_id|truncatechars:10 }}</td>
<td>{% include "data_explorer/mixins/calculation/status.html" with status=entry.status %}</td>
<td>
    <a href="{% url 'workflow_explorer:workflow_detail' entry.workflow_name %}">
        {{ entry.workflow_name }}
        <small><i class="bi bi-box-arrow-up-right"></i></small>
    </a>
</td>
<td>{{ entry.workflow_version }}</td>
<td>{{ entry.queue_time|floatformat:1|default:"--" }}</td>
<td>{{ entry.total_time|floatformat:1|default:"--" }}</td>
<td>{{ entry.computer_system|default:"--"|truncatechars:20 }}</td>
<td>
    <small>{{ entry.directory|default:"--"|truncatechars:25 }}</small>
</td>
<td>
    {% if entry.corrections %}
        <span class="badge text-warning">{{ entry.corrections|length }}</span>
    {% else %}
        0
    {% endif %}
</td>
<td>{{ entry.created_at|date:"M. jS Y @ P T" }}</td>
<td>{{ entry.started_at|date:"M. jS Y @ P T"|default:"-" }}</td>
<td>{{ entry.finished_at|date:"M. jS Y @ P T"|default:"-" }}</td>
<td>{{ entry.updated_at|date:"M. jS Y @ P T" }}</td>
