{% extends "data_explorer/table_entries_base.html" %}
{% block table_headers %}
    {% table_header "aflow_id" "ID" min_width=150 %}
    {% table_header "mineral_name" min_width=300 %}
    {% table_header "pearson_symbol" min_width=175 %}
    {% table_header "nsites_wyckoff" min_width=175 %}
    {% table_header "strukturbericht_symbol" min_width=225 %}
{% endblock %}
{% block table_rows %}
    <td>{% foreign_key_link entry "aflow_id" %}</td>
    <td>
        {% if entry.mineral_name %}
            {{ entry.mineral_name }}
        {% else %}
            --
        {% endif %}
    </td>
    <td>{{ entry.pearson_symbol }}</td>
    <td>{{ entry.nsites_wyckoff }}</td>
    <td>
        {% if entry.strukturbericht_symbol %}
            {{ entry.strukturbericht_symbol }}
        {% else %}
            --
        {% endif %}
    </td>
{% endblock %}
