<table class="table table-centered table-striped mb-0 border">
    <thead class="table-primary">
        <tr>
            <th style="width: 45%">Calculation Details</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Status</td>
            <td>{% include "data_explorer/mixins/calculation/status.html" with status=table_entry.status %}</td>
        </tr>
        <tr>
            <td>Workflow</td>
            <td>
                <a href="{% url 'workflow_explorer:workflow_detail' table_entry.workflow_name %}">
                    {{ table_entry.workflow_name }}
                    <small><i class="bi bi-box-arrow-up-right"></i></small>
                </a>
            </td>
        </tr>
        <tr>
            <td>Workflow Version</td>
            <td>v{{ table_entry.workflow_version }}</td>
        </tr>
        <tr>
            <td>Run ID</td>
            <td>
                <small class="text-muted">{{ table_entry.run_id }}</small>
            </td>
        </tr>
        <tr>
            <td>Queue Time</td>
            <td>
                {% if table_entry.queue_time %}
                    {{ table_entry.queue_time|floatformat:1 }} seconds
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Total Time</td>
            <td>
                {% if table_entry.total_time %}
                    {{ table_entry.total_time|floatformat:1 }} seconds
                {% else %}
                    --
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Computer System</td>
            <td>{{ table_entry.computer_system|default:"--" }}</td>
        </tr>
        <tr>
            <td>Directory</td>
            <td>
                <small>{{ table_entry.directory|default:"--" }}</small>
            </td>
        </tr>
        <tr>
            <td>Error Corrections</td>
            <td>
                {% if table_entry.corrections %}
                    <span class="badge text-warning">{{ table_entry.corrections|length }}</span>
                {% else %}
                    0
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>Created At</td>
            <td>{{ table_entry.created_at|date:"M. jS Y @ P T" }}</td>
        </tr>
        <tr>
            <td>Started At</td>
            <td>{{ table_entry.started_at|date:"M. jS Y @ P T"|default:"--" }}</td>
        </tr>
        <tr>
            <td>Finished At</td>
            <td>{{ table_entry.finished_at|date:"M. jS Y @ P T"|default:"--" }}</td>
        </tr>
        <tr>
            <td>Updated At</td>
            <td>{{ table_entry.updated_at|date:"M. jS Y @ P T" }}</td>
        </tr>
    </tbody>
</table>
