{% load simmate_input_forms %}
<div class="col-12">
    <div class="row m-2">
        <div class="col-12 text-center" style="height: 500px;">{% draw_structure table_entry %}</div>
        <div class="col-12 mt-2 text-center">
            {% button_link label="CIF" link="?format=cif" theme="outline-secondary" icon="download" small=True %}
            {% button_link label="POSCAR" link="?format=poscar" theme="outline-secondary" icon="download" small=True %}
            {% button_link label="Original Input" link="?format=input" theme="outline-secondary" icon="download" small=True %}
        </div>
    </div>
</div>
