site_name: Simmate Documentation
site_url: https://simmate.org
repo_url: https://github.com/jacksund/simmate
edit_uri: edit/main/docs/

theme:
  name: material
  language: en
   
  logo: images/simmate-icon.svg
  favicon: images/simmate-icon.svg
  icon:
    repo: fontawesome/brands/github
  
  # Coloring for light/dark themes
  palette:
    - scheme: default
      toggle:
        icon: material/toggle-switch
        name: Switch to dark mode
      primary: teal
      accent: teal
    - scheme: slate
      toggle:
        icon: material/toggle-switch-off-outline
        name: Switch to light mode
      primary: teal
      accent: teal

  features:
      - navigation.tabs
      - navigation.tabs.sticky
      - content.code.annotate

validation:
  links:
    absolute_links: relative_to_docs
    anchors: warn
    unrecognized_links: warn

# Adding versioning tags to the website
# extra:
#   version:
#     provider: mike
#     default: stable
# !!! https://squidfunk.github.io/mkdocs-material/setup/setting-up-versioning/

# For emojis, annotations, etc.
markdown_extensions:
  - admonition
  - attr_list
  - def_list
  - pymdownx.details
  - pymdownx.superfences:
        custom_fences:
              - name: mermaid
                class: mermaid
                format: !!python/name:pymdownx.superfences.fence_code_format
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.tabbed:
      alternate_style: true
  - pymdownx.tasklist:
      custom_checkbox: true
  - attr_list
  - md_in_html
  - toc:
      permalink: true


# For search bar and automatic generation of api docs
plugins:
    - search
    - mkdocstrings:
        default_handler: python
        watch:
        - src/simmate

# Main organization of website
nav:
    
    - Home: home.md
    
    - Getting Started: 
        
        - Introduction: getting_started/introduction.md
        
        # - 1. Public Website:
        #     - Quick Start: getting_started/public_website/quick_start.md
        #     - a) Exploring & managing data: getting_started/installation/data.md
        #     - b) Your first workflow run: getting_started/installation/workflow.md
        #     - c) Connect your own compute: getting_started/installation/add_compute.md
        #     - (extra) Intro to USDC: getting_started/installation/crypto.md

        - 1. Installation:
            - Quick Start: getting_started/installation/quick_start.md
            - a) Install Anaconda: getting_started/installation/install_anaconda.md
            - b) Intro to the command line: getting_started/installation/command_line.md
            - c) Create your environment: getting_started/installation/create_your_env.md
            - d) Explore Simmate commands: getting_started/installation/explore_simmate_cli.md
            - e) Set up a Local Server: getting_started/installation/local_server_setup.md
            
        - 2. Workflows:
            - Quick Start: getting_started/workflows/quick_start.md
            - a) Configure the database: getting_started/workflows/configure_database.md
            - b) Make a input structure: getting_started/workflows/make_a_structure.md
            - c) View all workflows: getting_started/workflows/view_all_workflows.md
            - d) Configure QE: getting_started/workflows/configure_qe.md
            - e) Run a workflow: getting_started/workflows/running_the_workflow.md
            - (extra) Submit to a cluster: getting_started/workflows/submit_to_a_cluster.md
        
        - 3. Toolkit:
            - Quick Start: getting_started/toolkit/quick_start.md
            - a) Intro to Python (& Spyder): getting_started/toolkit/intro_to_spyder.md
            - b) The Structure class: getting_started/toolkit/the_structure_class.md
            - e) Advanced classes: getting_started/toolkit/advanced_classes.md
        
        - 4. Database:
            - Quick Start: getting_started/database/quick_start.md
            - a) View data w. DBeaver: getting_started/database/dbeaver.md
            - b) How tables are built: getting_started/database/intro_to_python_inheritance.md
            - c) Workflow data: getting_started/database/access_workflow_data.md
            - d) Third-party data: getting_started/database/access_thirdparty_data.md
        
        - 5. Custom workflows:
            - Quick Start: getting_started/custom_workflows/quick_start.md
            - a) Basic workflows: getting_started/custom_workflows/basic_workflows.md
            - b) Chemistry workflows: getting_started/custom_workflows/chemistry_workflows.md
            - b) Class-based workflows: getting_started/custom_workflows/class_based_workflows.md
        
        - 6. Custom apps & tables:
            - a) Create an app: getting_started/custom_tables_and_apps/create_a_custom_app.md
            - b) Create a custom table: getting_started/custom_tables_and_apps/create_a_custom_table.md
            - c) Adding app workflows: getting_started/custom_tables_and_apps/using_app_workflows.md
        
        - 7. Use a cloud database:
            - Quickstart: getting_started/use_a_cloud_database/quick_start.md
            - a) Private vs shared: getting_started/use_a_cloud_database/private_vs_collab.md
            - b) Building a database: getting_started/use_a_cloud_database/build_a_postgres_database.md
        
        - 8. Computational resources:
            - Quickstart: getting_started/add_computational_resources/quick_start.md
            - a) Intro to workers: getting_started/add_computational_resources/intro_to_workers.md
        
        - Wrap up: getting_started/wrap_up.md
        
        - Extra Examples:
            - Overview: getting_started/example_scripts/overview.md
            - Example-001: getting_started/example_scripts/example-001.md
            - Example-002: getting_started/example_scripts/example-002.md
    
    - Full Guides:
        
        - Overview: full_guides/overview.md
        
        - Apps:
            - Basic Use: full_guides/apps/basic_use.md
            - Creating custom apps: full_guides/apps/creating_custom_apps.md

        - Website:
            - Creating views: full_guides/website/creating_views.md
            - Creating components: 
                - Overview: full_guides/website/creating_components/overview.md
                - Frontend Elements:
                    - text_input: full_guides/website/creating_components/frontend_elements/text_input.md
                    - text_area: full_guides/website/creating_components/frontend_elements/text_area.md
                    - number_input: full_guides/website/creating_components/frontend_elements/number_input.md
                    - button: full_guides/website/creating_components/frontend_elements/button.md
                    - radio: full_guides/website/creating_components/frontend_elements/radio.md
                    - molecule_input: full_guides/website/creating_components/frontend_elements/molecule_input.md
                    - selectbox: full_guides/website/creating_components/frontend_elements/selectbox.md
                    - checkbox: full_guides/website/creating_components/frontend_elements/checkbox.md
                    - search_box: full_guides/website/creating_components/frontend_elements/search_box.md
                    # TODO
                    # - alert: full_guides/website/creating_components/frontend_elements/alert.md
                    # - draw_molecule: full_guides/website/creating_components/frontend_elements/draw_molecule.md
                - Backend Mix-ins: full_guides/website/creating_components/backend_mixins.md
            - Setup & Config: full_guides/website/setup_and_config.md
            - REST API: full_guides/website/rest_api.md
        
        - Workflows:
            - Naming Conventions: full_guides/workflows/naming_conventions.md
            - Basic Use: full_guides/workflows/basic_use.md
            - Creating basic workflows: full_guides/workflows/creating_basic_workflows.md
            - Creating nested workflows: full_guides/workflows/creating_nested_workflows.md
            - Creating "S3" workflows: full_guides/workflows/creating_s3_workflows.md

        - Computational Resources:
            - Basic Use: full_guides/computational_resources/basic_use.md
        
        - Database:
            - Overview: full_guides/database/overview.md
            - Basic use: full_guides/database/basic_use.md
            - Workflow data: full_guides/database/workflow_data.md
            - Third-party data: full_guides/database/third_party_data.md
            - Contributing data: full_guides/database/contributing_data.md
            - Creating custom tables: full_guides/database/custom_tables.md

        - Toolkit:
            - Molecules:
                - Overview: full_guides/toolkit/molecules/overview.md
                - Single Molecule: 
                    - Quick Start: full_guides/toolkit/molecules/single_molecule/quick_start.md
                    - Molecule Loading: full_guides/toolkit/molecules/single_molecule/molecule_loading.md
                    - Molecule Exporting: full_guides/toolkit/molecules/single_molecule/molecule_exporting.md
                    - Cleaning & Prep: full_guides/toolkit/molecules/single_molecule/cleaning_and_prep.md
                    - Common Properties: full_guides/toolkit/molecules/single_molecule/common_properties.md
                    - Common Analyses: full_guides/toolkit/molecules/single_molecule/common_analyses.md
                    - SMARTS sets: full_guides/toolkit/molecules/single_molecule/smarts_sets.md
                    # - API: toolkit/molecules/single_molecule/api.md
                - Many Molecules:
                    # - Quick Start: full_guides/toolkit/molecules/many_molecules/quick_start.md
                    # - Working with Pandas: full_guides/toolkit/molecules/many_molecules/pandas.md
                    - Featurizers: full_guides/toolkit/molecules/many_molecules/featurizers.md
                    # - Filters: full_guides/toolkit/molecules/many_molecules/filters.md
                    - Clustering: full_guides/toolkit/molecules/many_molecules/clustering.md
                    - ChemSpace Mapping: full_guides/toolkit/molecules/many_molecules/mapping.md
                    - Similarity & Diversity: full_guides/toolkit/molecules/many_molecules/similarity.md
                # - Database Molecules: full_guides/toolkit/molecules/database_molecules.md
            - Crystal Structures:
                - Overview: full_guides/toolkit/crystal_structures/overview.md
                - PyMatGen Help: 
                    - Structure: full_guides/toolkit/crystal_structures/pymatgen/structure.md
                    - Lattice: full_guides/toolkit/crystal_structures/pymatgen/lattice.md
                    - Sites: full_guides/toolkit/crystal_structures/pymatgen/sites.md
                    - Composition: full_guides/toolkit/crystal_structures/pymatgen/composition.md
                   # - API: full_guides/toolkit/crystal_structures/single_structure/api.md
                # - Single Structure:
                #     - Structure Loading: full_guides/toolkit/crystal_structures/single_structure/loading.md
                #     - Structure Exporting: full_guides/toolkit/crystal_structures/single_structure/exporting.md
                #     - Cleaning & Prep: full_guides/toolkit/crystal_structures/single_structure/cleaning.md
                #     - Common Properties: full_guides/toolkit/crystal_structures/single_structure/properties.md
                #     - Common Analyses: full_guides/toolkit/crystal_structures/single_structure/analyses.md
                # - Many Structures: 
                #    - Featurizers: full_guides/toolkit/crystal_structures/many_structures/featurizers.md

        - Extras:
            # - Simmate Open Collective: 
            #    - Overview: full_guides/open_collective/overview.md
            #    - Architecture: full_guides/open_collective/architecture.md
            #    - Financial Strategy: full_guides/open_collective/financial_strategy.md
            #    - Data Integrity Safeguards:  full_guides/open_collective/data_integrity_safeguards.md
            #    - How to participate & earn: full_guides/open_collective/how_to_participate_and_earn.md
            - Settings & Configs: full_guides/extras/configuration.md
            - Contributing Code:
                - First time setup: full_guides/contributing/first_time_setup.md
                # - Testing: full_guides/extras/testing.md
                - Creating & submitting changes: full_guides/contributing/creating_and_submitting_changes.md
                - Extra notes & tips: full_guides/contributing/extra.md
                - Maintainer notes: full_guides/contributing/maintainer_notes.md
            # - Utilities: full_guides/extras/utilities.md

    - Parameters: parameters.md

    - Apps: 
        - Overview: apps/overview.md
        - AFLOW: apps/aflow.md
        - 'Bader (henkelman)': apps/bader_henkelman.md
        - baderkit: apps/baderkit.md
        - BCPC: apps/bcpc.md
        - CAS Registry: apps/cas_registry.md
        - Chembl: apps/chembl.md
        - ChemSpace: apps/chemspace.md
        - COD: apps/cod.md
        - eMolecules: apps/emolecules.md
        - Enamine: apps/enamine.md
        - EPPO Global Database: apps/eppo_gd.md
        - Evolutionary Searches: apps/evolution.md
        - JARVIS: apps/jarvis.md
        - Materials Project: apps/materials_project.md
        - OQMD: apps/oqmd.md
        - PDB: apps/pdb.md
        - PPDB: apps/ppdb.md
        - Quantum Espresso: apps/quantum_espresso.md
        - RDKit: apps/rdkit.md
        - VASP:
            - Overview: apps/vasp/overview.md
            - Installation: apps/vasp/installation.md
            - Workflows: apps/vasp/workflows.md
            # - Inputs: apps/vasp/inputs.md
            # - Outputs: apps/vasp/outputs.md
            # - Error Handlers: apps/vasp/error_handlers.md
        - Warren Lab: apps/warren_lab.md
        - '++ Experimental Apps':
            - BIOVIA COMSO: apps/biovia_cosmo.md
            - CLEASE: apps/clease.md
            - DeepMD: apps/deepmd.md
            - OpenEye OMEGA: apps/openeye_omega.md
            - Schrodinger: apps/schrodinger.md
            - Surflex: apps/surflex.md
    
    - Updates: change_log.md
