<!-- Indicate which Character Encoding set the browser should use -->
<meta charset="utf-8">

<!-- Set meta data for responsive viewport scaling/size (i.e. phone vs monitor) -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Load Bootstrap CSS module -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- <link rel="stylesheet" href="./scss/custom.css"> -->
<!-- {% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'structures/style.css' %}"> -->
