<!-- Indicate which Character Encoding set the browser should use -->
<meta charset="utf-8">

<!-- Set the icons to use in the tab header -->
<link rel="apple-touch-icon" sizes="76x76" href="/static/images/simmate-icon.svg">
<link rel="icon" type="image/png" href="/static/images/simmate-icon.svg">

<!-- Set meta data for responsive viewport scaling/size (i.e. phone vs monitor) -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="A toolkit and framework for materials science" name="description" />
<meta content="The Simmate Team" name="author" />

<!-- Load CSS -->
<link href="https://archives.simmate.org/assets/css/icons.min.css" rel="stylesheet" type="text/css" />
<link href="https://archives.simmate.org/assets/css/app-modern.min.css" rel="stylesheet" type="text/css"
    id="app-style" />

<!-- Load Plotly Javascript (this is needed in the header, not the footer!)-->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>