
{% extends "core/site_base.html" %}

{% block tabtitle %}
Simmate
{% endblock %}

{% block banner %}
{% include "core/header.html"%}
{% endblock %}


{% block body %}

<div class="container-fluid px-4 min-vh-100">
    <div class="row gx-4">
        <div class="col-2 p-3">
            {% include "core/sidebar.html"%}
        </div>
        
        <div class="col-8 p-3">
            {% include "core/periodic-table.html"%}
        </div>
       
        <div class="col-2 p-3">
            <div class="p-3 border bg-light">Custom column padding</div>
        </div>
    </div>
</div>

{% endblock %}
