
{% extends "puttyexams/site_base.html" %}

{% block tabtitle %}
PuttyExams
{% endblock %}

{% block banner %}
{% include "puttyexams/header.html"%}
{% endblock %}


{% block body %}

<section class="jumbotron text-center">
    <div class="container">
      <h1>Putty Exams</h1>
      <p class="lead text-muted">
          Students, you can proceed to the exam by signing into your account which is already made for you. Be sure to check your 
          junk/spam inbox if you never recieved the email. And instructors, you'll need access to even begin making your exams because this website is still in testing. Please reach out to the creators, 
          and we'll get you started! Just email <i>jacksund@live.unc.edu</i>. 
      </p>
    </div>
</section>

{% endblock %}
