<!-- 
Helpful links when editting...
https://demos.creative-tim.com/material-dashboard/docs/2.1/components/forms.html
https://github.com/creativetimofficial/material-dashboard-django/blob/master/core/templates/page-user.html
https://www.creative-tim.com/live/material-dashboard-django
-->

<div class="container p-4">

    <div class="card">
        <div class="card-header card-header-success">
            <h4 class="card-title"><b>Explore Materials</b></h4>
            <p class="card-category">These structures come from third-party databases, so be sure to visit their
                websites and cite them properly!</p>
        </div>

        <br>

        <div class="card-body">
            <form action="{% url 'home' %}#search-results" method="post">
                {% csrf_token %}

                {{ chemical_system_form.non_field_errors }}

                <!-- Chemical System -->
                <div class="form-group fieldWrapper has-success">
                    {{ chemical_system_form.chemical_system.errors }}
                    <label for="id_chemical_system"><b>Chemical System:</b></label>
                    <input name="chemical_system" type="text" maxlength="20" class="form-control"
                        id="id_chemical_system" aria-describedby="emailHelp" placeholder="Li-Co-O" required="">
                </div>

                <!-- Include Subsystems -->
                <div class="form-check fieldWrapper">
                    {{ chemical_system_form.include_subsystems.errors }}
                    <label class="form-check-label" for="id_include_subsystems">
                        <input class="form-check-input" type="checkbox" name="include_subsystems"
                            id="id_include_subsystems">
                        include subsystems
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                        <small id="chemical_system_help" class="form-text text-muted">subsystems of Li-Co-O would be Li,
                            Co, O, Li-Co, Li-O, and Co-O</small>
                    </label>
                </div>

                <br>

                <!-- All Databases -->
                <label class="text-success"><b>Databases to Search:</b></label>
                <br>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_aflow">
                        <input class="form-check-input" type="checkbox" name="aflow" id="id_aflow" disabled>
                        AFLOW
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_cod">
                        <input class="form-check-input" type="checkbox" name="cod" id="id_cod" checked>
                        COD
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_jarvis">
                        <input class="form-check-input" type="checkbox" name="jarvis" id="id_jarvis" checked>
                        JARVIS
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_materials_project">
                        <input class="form-check-input" type="checkbox" name="materials_project"
                            id="id_materials_project" checked>
                        Materials Project
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_simmate">
                        <input class="form-check-input" type="checkbox" name="simmate" id="id_simmate" disabled>
                        Simmate
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>

                <div class="form-check fieldWrapper">
                    <label class="form-check-label" for="id_oqmd">
                        <input class="form-check-input" type="checkbox" name="oqmd" id="id_oqmd" disabled>
                        OQMD
                        <span class="form-check-sign">
                            <span class="check"></span>
                        </span>
                    </label>
                </div>
                <!-- End of Databases -->

                <br>
                <b>Advanced filtering criteria is coming soon!</b>
                <br><br>

                <button class="btn btn-success" type="submit">Search</button>

            </form>
        </div>


        <!--
<div class="input-group mb-3">
    <select class="selectpicker" data-live-search="true" data-width="auto" data-size="15" data-style="btn-primary">
      <optgroup label="Composition">
        <option>Number of Sites</option>
        <option>Number of Elements</option>
        <option data-subtext="Li-Co-O">Chemical System</option>
        <option data-subtext="Li1 Co1 O2">Full Formula</option>
        <option data-subtext="LiCoO2">Reduced Formula</option>
        <option data-subtext="ABC2">Anonymous Formula</option>
      </optgroup>
      <optgroup label="Symmetry">
        <option>Spacegroup Number</option>
        <option>Prototype Name</option>
      </optgroup>
      <optgroup label="Structural Properties">
        <option data-subtext="g/cm^3">Density</option>
        <option data-subtext="cm^3/mol">Molar Volume</option>
      </optgroup>
    </select>
</div>
<div class="input-group mb-3">
    <select class="selectpicker" data-live-search="true" data-width="auto" data-size="15" data-style="btn-primary">
        <optgroup label="General">
            <option>is exactly</option>
            <option data-subtext="(exists)">is available</option>
            <option data-subtext="(word searches only)">contains</option>
        </optgroup>
        <optgroup label="Numerical Comparisons">
            <option>is greater than</option>
            <option>is less than</option>
            <option>is between</option>
        </optgroup>
    </select>
</div>
-->

    </div>
</div>