{% extends "htmx/form_base.html" %}
{% block form %}
    <div class="modal-body">
        <div class="alert alert-success text-center">
            <a href="{% url 'pricing' %}" class="alert-link"><small>Simmate tokens are free, so you can add (or remove) as much as you'd like. Please read our Pricing page for how these are used <i class="bi bi-box-arrow-up-right"></i></small></a>
        </div>
        {% htmx_number_input name="token_amount" show_label=False placeholder="1,000" step_size=1 %}
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        {% htmx_button method_name="submit" %}
    </div>
{% endblock %}
