{% extends "data_explorer/table_entries_base.html" %}
{% block table_headers %}
    {% table_header "id" "ID" min_width=60 %}
    {% table_header "name" "Name" min_width=100 %}
    {% table_header "parent_location__name" "Parent Location" min_width=250 %}
    {% table_header "description" min_width=300 %}
    <th style="min-width:50px">Edit</th>
{% endblock %}
{% block table_rows %}
    <td>{% foreign_key_link entry %}</td>
    <td>{{ entry.name }}</td>
    <td>{% foreign_key_link entry.parent_location "name" %}</td>
    <td>{{ entry.description|truncatechars:100 }}</td>
    {% update_entry_link entry %}
{% endblock %}
