<div unicorn:loading.remove class="text-center">
    <button unicorn:click="{{ name }}" class="btn btn-{{ theme }} my-2">
        {% if show_label %}{{ label }}{% endif %}
        {% if icon %}<i class="mdi mdi-{{ icon }}"></i>{% endif %}
    </button>
</div>
<div unicorn:loading>
    <div class="progress">
        <div id="progress_bar"
             class="progress-bar progress-bar-striped progress-bar-animated"
             role="progressbar"
             aria-valuemin="0"
             aria-valuemax="100"
             style="width: 100%"></div>
    </div>
</div>
