{# djlint:off #}
<div class="my-2" id="{{ name }}{{ context.unicorn.component_key }}">
    {% include "core_components/basic_elements/label.html" %}
    <input id="{{ name }}{{ context.unicorn.component_key }}-filename"
           class="form-control"
           type="file"
           placeholder="test123"
           {% if disabled %}disabled{% endif %}>
    <input unicorn:model{% if defer %}.defer{% endif %}="{{ name }}"
           id="{{ name }}{{ context.unicorn.component_key }}-filedata"
           type="hidden" 
           class="file-data"/>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            add_file_upload_listener("{{ name }}{{ context.unicorn.component_key }}", {{ max_size }});
        });
    </script>
</div>
{# djlint:on #}
