{% load simmate_ui_tags %}
<div class="my-2">
    {% include "core_components/basic_elements/label.html" %}
    {% if molecule is None %}
        {% if allow_sketcher_input %}
            {# Molecule Sketcher (ChemDraw.js or ChemDoodle.js) #}
            <div class="px-3 py-1">
                {% if show_option_labels %}<label class="form-label">Option 1: Draw Molecule</label>{% endif %}
                <div unicorn:ignore
                     id="{{ name }}{{ context.unicorn.component_key }}"
                     style="width: 600px;
                            height: 400px"></div>
                <script>add_mol_sketcher("{{ name }}{{ context.unicorn.component_key }}");</script>
            </div>
        {% endif %}
        {% if allow_text_input %}
            {# Text-based input for smiles/sdf/ichi/etc... #}
            <div class="px-3 py-1">
                {% text_area name=name_text_input show_label=show_option_labels label="Option 2: Paste Molecule Text" placeholder="Paste in SMILES, INCHI, MOL text, or any other supported format." %}
            </div>
        {% endif %}
        {% if allow_custom_input %}
            {# Custom Text input (e.g. searching by ID or CAS number) #}
            <div class="px-3 py-1">
                {% text_input name=name_text_input show_label=show_option_labels label=custom_input_label placeholder=custom_input_placeholder %}
            </div>
        {% endif %}
        {% if load_button %}
            <div class="text-center pt-3">
                <button type="button"
                    class="btn btn-primary"
                    {# modal_dismiss used only if this is in a popout modal #}
                    {% if modal_dismiss %}data-bs-dismiss="modal"{% endif %}
                    onclick="get_mol_from_sketcher('{{ name }}{{ context.unicorn.component_key }}', '{% if not context.unicorn.component_key %}{{ context.unicorn.component_name }}{% else %}{{ context.unicorn.component_key }}{% endif %}', '{{ set_molecule_method }}')">
                    Load Molecule{% if set_molecule_method == "load_many_molecules" %}s{% endif %}
                </button>
            </div>
        {% endif %}
    {% elif molecule == False %}
        {% alert theme="danger" message="Failed to load the Molecule. This typically happens due invalid chemistry, such as missing formal charges. Contact our team with your molecule so that we can help troubleshoot and prevent errors like this in the future." %}
        <div class="text-center">
            <b>Refresh the page to restart the form</b>
        </div>
    {% else %}
        {% alert theme="success" message="Molecule successfully loaded! Refresh this page if you wish to restart." %}
        {% canvas name=name %}
        {# TODO: button name="unset_molecule" theme="secondary" icon="refresh" #}
    {% endif %}
</div>
