{% extends "data_explorer/table_entry.html" %}
{% block entrycontent %}
    <div class="row py-2">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right m-0">
                    <a role="button"
                       class="btn btn-outline-primary btn-sm"
                       href="{% url 'data_explorer:table-entry-update' table_entry.table_name table_entry.id %}">Update <i class="mdi mdi-pencil-outline"></i></a>
                </div>
                <h3 class="m-0">Overview</h3>
            </div>
        </div>
    </div>
    <div class="row py-2">
        <div class="col-12">
            <table class="table table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th style="width: 45%">Base Info</th>
                        <th class="text-center"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ table_entry.id }}</td>
                    </tr>
                    <tr>
                        <td>Is Mixture</td>
                        <td>{{ table_entry.is_mixture|yesno:"Yes,No" }}</td>
                    </tr>
                    <tr>
                        <td>Substance</td>
                        <td>
                            {% if table_entry.substance %}
                                <a role="button"
                                   class="btn btn-light btn-sm border"
                                   href="{% url 'data_explorer:table-entry' 'Substance' table_entry.substance.id %}">{{ table_entry.substance.id }}</a>
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Mixture</td>
                        <td>
                            {% if table_entry.mixture %}
                                <a role="button"
                                   class="btn btn-light btn-sm border"
                                   href="{% url 'data_explorer:table-entry' 'Mixture' table_entry.mixture.id %}">{{ table_entry.mixture.id }}</a>
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Batch Number</td>
                        <td>{{ table_entry.batch_number|default:"--" }}</td>
                    </tr>
                    <tr>
                        <td>Purity</td>
                        <td>{{ table_entry.purity|default:"--" }}</td>
                    </tr>
                    <tr>
                        <td>Expiration Date</td>
                        <td>{{ table_entry.expiration_date|default:"--" }}</td>
                    </tr>
                    <tr>
                        <td>Supplier</td>
                        <td>{{ table_entry.supplier|default:"--" }}</td>
                    </tr>
                    <tr>
                        <td>Supplier Catalog Number</td>
                        <td>{{ table_entry.supplier_catalog_number|default:"--" }}</td>
                    </tr>
                    <tr>
                        <td>Total Initial Amount</td>
                        <td>{{ table_entry.total_initial_amount|default:"--" }} {{ table_entry.amount_units|default:"" }}</td>
                    </tr>
                    <tr>
                        <td>Total Current Amount</td>
                        <td>{{ table_entry.total_current_amount|default:"--" }} {{ table_entry.amount_units|default:"" }}</td>
                    </tr>
                    <tr>
                        <td>Number of Containers</td>
                        <td>{{ table_entry.num_containers|default:"0" }}</td>
                    </tr>
                    <tr>
                        <td>Is Depleted</td>
                        <td>{{ table_entry.is_depleted|yesno:"Yes,No" }}</td>
                    </tr>
                    <tr>
                        <td>Comments</td>
                        <td>{{ table_entry.comments|default:"--" }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
