<div class="tab-pane" id="info-section">
    <div class="row">
        <div class="col-xl-7">
            <table class="table table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th style="width: 45%">Additional Properties</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Is Ordered?</td>
                        <td>
                            {% if table_entry.is_ordered %}
                                <i class="mdi mdi-check text-success"></i> Yes
                            {% else %}
                                <i class="mdi mdi-close text-danger"></i> No
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Has Implicit Hydrogens?</td>
                        <td>
                            {% if table_entry.has_implicit_hydrogens %}
                                <i class="mdi mdi-check text-primary"></i> Yes
                            {% else %}
                                <i class="mdi mdi-close text-secondary"></i> No
                            {% endif %}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
