{% extends "core/site_base.html" %}
{% block tabtitle %}Apps - Simmate{% endblock %}
{% block body %}
    <section class="jumbotron text-center mb-4">
        <div class="container">
            <h1 class="jumbotron-heading">Apps</h1>
            <p class="lead text-muted mb-0">
                Access custom resources and tools, such as dashboards for advanced analyses across multiple datasets.
            </p>
        </div>
    </section>
    <div class="row g-4">
        {% for extra_app in extra_apps %}
            <div class="col-md-6 col-lg-4">
                <div class="card app-card border-primary shadow-sm h-100">
                    {% if extra_app.card_template %}
                        {% include extra_app.card_template with app=extra_app %}
                    {% else %}
                        {% include "core/app_cards/default.html" with app=extra_app %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        {# Built-in cards that are always present #}
        <div class="col-md-6 col-lg-4">
            <div class="card app-card border-primary shadow-sm h-100">{% include "core/app_cards/data_catalogs.html" %}</div>
        </div>
        <div class="col-md-6 col-lg-4">
            <div class="card app-card border-primary shadow-sm h-100">{% include "core/app_cards/workflows_hub.html" %}</div>
        </div>
    </div>
{% endblock %}
