{% extends "core/site_base.html" %}
{% block tabtitle %}Home - Simmate{% endblock %}
{% block body %}
    {% load static %}
    <div class="row mt-5 mb-3">
        <img src="{% static 'images/simmate-logo.svg' %}" height="200">
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-12 px-5 text-center">
            <h2 class="fs-2 fw-normal lh-1 text-body-secondary">
                an open collective & full-stack framework for chemistry research
            </h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12 px-5">
            <h3>Our mission</h3>
            <p class="lead">
                Simmate's primary goal is to build a community that openly shares chemistry data and infrastructure.
                We believe that energy is wasted and research is slowed when
                academics repeatedly perform the same calculations in isolation,
                so we sought to build a platform for collaboration.
                This is why all data and workflow results are openly accessible
                to everyone in our public website.
                However, for the majority of researchers that work with
                confidential data, we still wish to collaborate
                through building the chemistry infrastructure together.
                For this reason, 100% of our codebase is open-source, and it is
                free to set up your own private server.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="{% static 'images/home-open-data.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="All data is free & open">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-database"></i> All data is free & open
            </h3>
            <p class="lead">
                Easy, unrestricted access to data is what enables new ideas and great
                science. After all, we can only truly innovate once we understand
                what has already been studied by others.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-cpu"></i> Compute is scalable & collaborative
            </h3>
            <p class="lead">
                The type of computational resources that researchers have access to
                varies greatly depending on if you are in academia, industry, or
                even just a hobbyist.
                Our infrastructure scales across the cloud, HPC, &
                personal computers to carryout calculations together.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/home-scalable-compute.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="Compute is scalable & collaborative">
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="{% static 'images/home-earnings.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="Earnings are transparent & shared">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-coin"></i> Earnings are transparent & shared*
            </h3>
            <p class="lead">
                You can earn when you contribute computer resources for
                others to use. And to make everything as transparent & fair as possible,
                we make our financial data public - so you can trust that the science
                is coming first.
            </p>
            <p class="lead">
                <small>
                    <em>
                        * payouts depend on several factors, such the demand created by
                        other users and how much compute you provided.
                        Make sure you read and understand our
                        <a href="#" target="_blank">
                            finances
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>.
                    </em>
                </small>
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-clipboard2-data"></i> Popular chemistry datasets are built-in*
            </h3>
            <p class="lead">
                Many of the most widely used datasets in chemistry &mdash; such as the
                Materials Project, COD, and PubChem &mdash; are integrated into Simmate,
                so you can search across all of them in one place. Data from every
                source is cleaned and standardized, making it easy to bring into your
                own projects.
            </p>
            <p class="lead">
                <small>
                    <em>
                        * We can only redistribute data when the original provider's
                        license allows it. Some datasets can therefore only be used by
                        installing Simmate locally and downloading the data directly
                        from the provider.
                    </em>
                </small>
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/home-chemistry-datasets.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="Popular chemistry datasets are built-in">
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="{% static 'images/home-trusted-workflows.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="Workflows are built on trusted software">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-diagram-3"></i> Workflows are built on trusted software
            </h3>
            <p class="lead">
                There is an endless list of software to consider for chemistry
                calculations, and each program comes with its own inputs, outputs,
                and quirks. Simmate wraps popular, well-established codes &mdash; such
                as VASP, Quantum ESPRESSO, and Psi4 &mdash; into workflows that handle
                setup, catch and fix common errors, and scale from your laptop to HPC
                clusters. Explore our library of ready-to-use workflows, or build your
                own with our toolkit.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-github"></i> The codebase is 100% open-source
            </h3>
            <p class="lead">
                Simmate is built on the shoulders of open-source giants like pymatgen,
                RDKit, Django, PostgreSQL, and htmx. Our own code is released under the
                permissive BSD 3-Clause license, so every part of Simmate is free to
                install, use, and modify &mdash; whether for academic or commercial work.
                Run your own server, collaborate with us on the public website, or
                contribute directly on
                <a href="https://github.com/jacksund/simmate" target="_blank">GitHub</a>.
            </p>
        </div>
        <div class="col-md-5">
            <img src="{% static 'images/home-open-source.svg' %}"
                 class="img-fluid mx-auto d-block"
                 style="max-height: 280px;"
                 alt="The codebase is 100% open-source">
        </div>
    </div>
    <hr class="my-5">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center">
                <p class="mt-2">
                    To learn more about Simmate's team and history, visit our <a href="{% url 'about' %}">About</a> page.
                </p>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="text-center">
                <p class="mt-2">
                    To learn more about Simmate's framework and codebase, visit our <a href="https://jacksund.github.io/simmate/home/"
    target="_blank">documentation</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
