{% if entry %}
    <a href="{% url 'data_explorer:table-entry' entry.table_name entry.id %}"
       {% if mode == "pill" %} class="badge bg-primary rounded-pill" {% elif mode == "block" %} type="button" class="btn btn-secondary btn-sm col-10 m-0" {% endif %}
       {% if open_in_new %}target="_blank"{% endif %}>
        {% if display_column %}
            {{ entry|getattribute:display_column|truncatechars:truncate_chars }}
        {% else %}
            {{ entry.id|truncatechars:truncate_chars }}
        {% endif %}
        <small><i class="bi bi-box-arrow-up-right"></i></small>
    </a>
{% else %}
    --
{% endif %}
