{% extends "core_components/site_base.html" %}
{% block tabtitle %}{{ workflow.name_full }} - Simmate{% endblock %}
{% block body %}
    <div class="text-center my-3">
        <h1>
            {% if workflow.is_recommended %}<i class="bi bi-patch-check text-primary"></i>{% endif %}
            <span class="badge text-bg-primary">{{ workflow.name_full }}</span>
            {% if workflow.is_recommended %}<i class="bi bi-patch-check text-primary"></i>{% endif %}
        </h1>
    </div>
    <div>
        {% include "workflows/for_detail/tabs_header.html" %}
        <div class="tab-content">
            {% include "workflows/for_detail/overview_tab.html" %}
            {% include "workflows/for_detail/parameters_tab.html" %}
            {% include "workflows/for_detail/pricing_tab.html" %}
            {% include "workflows/for_detail/results_tab.html" %}
            {% include "workflows/for_detail/submit_tab.html" %}
        </div>
    </div>
{% endblock %}
