{% extends "core_components/site_base.html" %}
{% block tabtitle %}{{ workflow_type }} Workflows - Simmate{% endblock %}
{% block body %}
    <div class="row">
        {% for workflow in workflows %}
            <div class="col-md-4">
                <div class="card border-primary border">
                    <div class="card-body">
                        <h5 class="card-title text-primary">{{ workflow.name_preset }}</h5>
                        {{ workflow.description_doc_short }}
                        <br>
                        <br>
                        <a href="{% url 'workflow_detail' workflow.name_type workflow.name_app workflow.name_preset %}"
                           class="btn btn-primary btn-sm">Explore</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
