{% load unicorn %}
<div class="row justify-content-center">
    <div class="col-lg-12">
        <div>
            <div class="text-left my-2" unicorn:view>
                <div class="container mt-4 border border-3 border-secondary rounded py-2">
                    <h3>
                        <span class="badge bg-secondary">Molecule Scope</span>
                    </h3>
                    <div class="row">
                        <div class="col-md-4">{% text_input name="nickname" placeholder="ex: Scaffold A" max_length="30" %}</div>
                        <div class="col-md-4">{% selectbox name="status" %}</div>
                        <div class="col-md-4">{% selectbox name="driven_by_id" options=user_options %}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">
                            {% text_input name="molecule_query" placeholder="The query in SMARTS format. If this is just a substructure query, the SMARTS is identical to the SMILES string." %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm">{% text_area name="description" placeholder="1-2 sentences describing the molecule scope" %}</div>
                    </div>
                    <div class="row">
                        <div class="col-sm">{% text_area name="comments" placeholder="Any details and updates on this scope" %}</div>
                    </div>
                </div>
                <div class="text-center pt-2">
                    {% if form_errors %}<div>{{ form_errors }}</div>{% endif %}
                    {% button name="submit_form" label="Save to database" icon="content-save" %}
                </div>
            </div>
        </div>
    </div>
</div>
