<div class="tab-pane" id="tags-section">
    <div class="col-xl-12">
        {% if tags__count %}
            {% include "projects/tag/table.html" with entries=tags project_view=True truncated=tags__truncated %}
        {% else %}
            <small>No tags linked.</small>
        {% endif %}
    </div>
    <div class="text-center py-2">
        <a role="button"
           class="btn btn-outline-success btn-sm"
           target="_blank"
           href="{% url 'data_explorer:table-entry-new' 'Tag' %}?tag_type=%22project-specific%22&project_id={{ table_entry.id }}">Add New <i class="mdi mdi-plus"></i></a>
        <a role="button"
           class="btn btn-outline-primary btn-sm"
           target="_blank"
           href="{% url 'data_explorer:table' 'Tag' %}?project_id={{ table_entry.id }}">View All <i class="mdi mdi-open-in-new"></i></a>
    </div>
</div>
