<!-- Band-Structure Info -->
<div class="container p-4">
    <h3>Density of States:</h3>
    <ul>
        <li>
            <b>Band gap:</b> {{ table_entry.band_gap }}
        </li>
        <li>
            <b>Fermi energy:</b> {{ table_entry.energy_fermi }}
        </li>
        <li>
            <b>Conduction band minimum:</b> {{ table_entry.conduction_band_minimum }}
        </li>
        <li>
            <b>Valence band maximum:</b> {{ table_entry.valence_band_maximum }}
        </li>
    </ul>
    {{ table_entry.get_dos_diagram_html_div }}
</div>
