{% extends "core_components/site_base.html" %}
{% block tabtitle %}About - Simmate{% endblock %}
{% block body %}
    {% load static %}
    <div class="container my-4 text">
        <div class="alert alert-success shadow-sm border-0" role="alert">
            <h5 class="alert-heading fw-bold mb-4">TL;DR</h5>
            <p>
                Simmate is entirely <a href="https://github.com/jacksund/simmate" target="_blank"><strong>open-source</strong> <i class="bi bi-box-arrow-up-right"></i></a>, and all data is shared freely. So costs occur only when...
            </p>
            <ul>
                <li>You use our cloud resources to run workflows, rather than your own</li>
                <li>You have our team set up & maintain a private server</li>
            </ul>
            <p>
                <img src="/static/images/usdc-icon.svg" height="20">
                USDC is for compute costs;
                <img src="/static/images/simmate-token-icon.svg" height="20">
                Tokens are free & for budget tracking.
            </p>
        </div>
    </div>
    <hr>
    <div class="p-3 pb-md-4 mx-auto">
        <h1 class="display-4 fw-normal text-body-emphasis text-center">Our Not-For-Profit Mission</h1>
        <div class="p-4">
            <p class="mb-3">
                Simmate is a "not-for-profit" organization, where our primary goal
                is to build a community that openly shares chemistry data.
                We believe that energy is wasted and research is slowed when
                academics repeatedly perform the same calculations in isolation,
                so we sought to build a platform that provides the infrastructure
                for open collaboration in chemistry. This is why in our
                public website you only pay for computational resources that
                are not your own, and any workflows ran on the public website are
                openly accessible to everyone. However, for the majority of
                researchers who work with confidential data, we still wish to collaborate
                through building the chemistry infrastructure together.
                For this reason, 100% of our codebase is open-source, and it is
                free to setup you own private server. So in summary, we aim to
                accelerate chemistry research through openness and
                collective innovation. Please reach out if you have any questions
                or are looking for new ways to contribute!
            </p>
        </div>
    </div>
    <hr>
    <div class="p-3 pb-md-4 mx-auto text-center">
        <h1 class="display-4 fw-normal text-body-emphasis">Hosting Options</h1>
    </div>
    <div class="row row-cols-1 row-cols-md-3 mb-3">
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Self-Hosted</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-center">Free</h1>
                    <ul class="my-4">
                        {# djlint:off #}
                    <li class="my-3">
                        <b class="text-secondary">Who it’s for</b><br>
                        Individual researchers, hobbyists, and groups with their own servers. Python experience is recommended,
                        but we try to write our guides for total begineers too.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Costs</b><br>
                        None. Everything is open-source, so you can download & run things locally.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Upkeep</b><br>
                        Server setup is optional, and you would handle installation, updates, and maintenance.
                    </li>
                        {# djlint:on #}
                    </ul>
                    <a class="w-100 btn btn-lg btn-secondary"
                       href="https://jacksund.github.io/simmate/getting_started/overview/"
                       target="_blank">View Tutorials</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm border-success">
                <div class="card-header py-3 text-center text-bg-success border-success">
                    <h4 class="my-0 fw-normal">Official Simmate Website</h4>
                </div>
                <div class="card-body">
                    <h3 class="card-title pricing-card-title text-center m-0">Free</h3>
                    <h6 class="text-secondary text-center">when using your own compute resources</h6>
                    <div class="text-center py-0">
                        <div class="position-relative my-3"
                             style="max-width: 250px;
                                    margin: 1rem auto">
                            <hr>
                            <span class="position-absolute top-50 start-50 translate-middle bg-body px-2"><b>OR</b></span>
                        </div>
                    </div>
                    <h3 class="card-title pricing-card-title text-center m-0">
                        ~50¢<small class="text-body-secondary fw-light ">/cpu/hr</small>
                    </h3>
                    <h6 class="text-secondary text-center">when using Simmate's cloud compute</h6>
                    <div class="text-center py-0">
                        <div class="position-relative my-3"
                             style="max-width: 250px;
                                    margin: 1rem auto">
                            <hr>
                            <span class="position-absolute top-50 start-50 translate-middle bg-body px-2"><b>OR</b></span>
                        </div>
                    </div>
                    <h3 class="card-title pricing-card-title text-center m-0">You get paid</h3>
                    <h6 class="text-secondary text-center">when you allow others to use your compute</h6>
                    <ul class="my-4 pt-1">
                        {# djlint:off #}
                    <li class="my-3">
                        <b class="text-secondary">Who it’s for</b><br>
                        Beginners & small groups that want a turnkey experience with zero setup. Results are public and shared with others, so confidential projects are not a good fit.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Costs</b><br>
                        Pay-as-you-go for cloud compute, where new users recieve $50 in credits on sign up. Price per workflow varies, so read our <b>Compute Costs</b> section below.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Upkeep</b><br>
                        Managed by the Simmate team and always up-to-date.
                    </li>
                        {# djlint:on #}
                    </ul>
                    {% if user.is_authenticated %}
                        <a class="w-100 btn btn-lg btn-success" href="{% url 'profile' %}">Start exploring</a>
                    {% else %}
                        <a class="w-100 btn btn-lg btn-success" href="#">Sign up</a>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card mb-4 rounded-3 shadow-sm">
                <div class="card-header py-3 text-center">
                    <h4 class="my-0 fw-normal">Privately Hosted & Managed</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title text-center">Quote Required</h1>
                    <ul class="my-4">
                        {# djlint:off #}
                    <li class="my-3">
                        <b class="text-secondary">Who it’s for</b><br>
                        Companies, labs, or enterprises needing dedicated infrastructure that is managed by the Simmate team.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Costs</b><br>
                        Pricing varies based on resources required, custom app development, etc. Training and
                        workshops are also available.
                    </li>
                    <li class="my-3">
                        <b class="text-secondary">Upkeep</b><br>
                        The Simmate team will maintain your infrastructure on private servers.
                    </li>
                        {# djlint:on #}
                    </ul>
                    <a class="w-100 btn btn-lg btn-secondary" href="{% url 'contact' %}">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="p-3 pb-md-4 mx-auto">
        <h1 class="display-4 fw-normal text-body-emphasis text-center">Data Access</h1>
        <div class="p-4">
            <p class="mb-3">All data is accessible for free.</p>
            <p class="mb-3">
                And if you are on our public website, free data access includes *all* calculations ever
                submitted by *all* users. We recognize that this is undesirable for many research groups,
                but be aware you can still download Simmate and manage your database+compute privately.
                The public site will remain focused on our mission of openness.
            </p>
            <p class="mb-3">
                Also, note that many of our datasets are made available through third-parties —
                such as the Materials Project, OQMD, JARVIS, and more. We will never
                charge for the access of data that is already free & open. Be sure to thank
                and properly attribute the original communities!
            </p>
            <p class="mb-0">
                Importantly, some datasets are only available in the <span class="fw-semibold">Self-Hosted</span>
                version of Simmate — such as AFLOW, eMolecules, Enamine, and more.
                This is because those third-parties do not allow redistribution of their data.
                While we cannot display this data on our public website, the Simmate python
                package still lets you download datasets <em>directly</em> from third-party
                providers for your private use.
            </p>
        </div>
    </div>
    <hr>
    <div class="p-3 mx-auto">
        <h1 class="display-4 fw-normal text-body-emphasis text-center">Compute Costs</h1>
        <div class="mb-4">
            <p>
                Compute costs are based on the total resources and time used by a workflow run.
                The price is listed after providing your input structure(s)/molecules(s), and
                payment is carried out as soon as the workflow is submitted. Note, a refund is
                made immediately in cases where the calculation fails or after a
                refund-request review when results are unsatisfactory.
            </p>
            <p>
                It is important to recognize that price is not determined until you
                provide all input parameters (including your structure/molecule).
                This is because total CPU usage can vary even for identical workflows
                (e.g., due to differences in DFT convergence or relaxation). However,
                the expected CPU time heavily depends on the submitted structure/molecule atom count
                or composition, meaning we can provide fair pricing before calculation
                submission.
            </p>
            <p>
                This is counter to other cloud platforms that charge at the end
                after the calculation completes or at a fixed rate throughout the
                computation. We opt for the pay-first method for several reasons:
            </p>
            <ul class="mb-3">
                <li>Users can submit with confidence and avoid surprises.</li>
                <li>Clear pricing allows for easier project budgeting and management.</li>
                <li>We never want to wastefully terminating workflows mid-run due to insufficient funds.</li>
                <li>It reduces our administrative overhead, keeping the platform simple and fair.</li>
            </ul>
            <p class="mb-3">
                Overall, this is why each workflow provides cost estimates and historical runtime data on its submission page.
            </p>
            <p class="mb-3">
                Currently, all computations run on Kubernetes Pods hosted on DigitalOcean.
                Our pricing aligns closely with <a href="https://www.digitalocean.com/pricing/kubernetes"
    target="_blank">DigitalOcean’s rates</a>,
                averaging about <strong>$0.50 per CPU hour</strong>.
            </p>
            <div class="alert alert-warning" role="alert">
                <div class="row align-items-center">
                    <div class="col-auto">
                        <i class="bi bi-exclamation-triangle fs-3"></i>
                    </div>
                    <div class="col">
                        Compute costs are paid using your <b>USDC Balance</b>. Do not confuse this with your <b>Token Balance</b>.
                        <small><em>(see section below)</em></small>
                    </div>
                </div>
            </div>
            <div class="alert alert-secondary" role="alert">
                <div class="row">
                    <div class="col-auto d-flex align-items-start">
                        <i class="bi bi-info-circle fs-3"></i>
                    </div>
                    <div class="col">
                        Looking ahead, Simmate plans to integrate HPC clusters from partner companies and universities.
                        Once available, these will reduce compute costs drastically. There are also plans to allow users to
                        provide their own resources for their own calculations or even others to utilize. For the latter,
                        Simmate would compensate contributed resources by adding to their USDC balance. Reach out if
                        you are interested in early testing of these features.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="p-3 pb-md-4 mx-auto row">
        <h1 class="display-4 fw-normal text-body-emphasis text-center">Digital Currencies</h1>
        <div class="p-3 pb-md-4 mx-auto col-6">
            <h1 class="display-5 fw-normal text-body-emphasis d-flex justify-content-center align-items-center">
                <img src="/static/images/usdc-icon.svg" height="50" class="me-2">
                USDC
            </h1>
            <h5 class="text-muted text-center mb-3">1 USDC = $1 for compute costs & workflows</h5>
            <div class="alert alert-secondary" role="alert">
                <div class="row align-items-center">
                    <div class="col">
                        <p>
                            USDC is used to pay for compute costs when you are using
                            Simmate's computational resources, rather than supplying your own.
                        </p>
                        <p>
                            Configure your preferred payment method on your
                            <a href="{% url 'profile' %}">Profile page</a>, where you
                            are given the following options:
                        </p>
                        <ul>
                            <li>
                                <b>Stripe Checkout <small>(card, Google Pay, Apple Pay, etc.)</small></b>
                                <p>
                                    This is the most straightforward method as it supports familiar payment options.
                                    Simmate enforces a minimum payment of $25 for Stripe transactions to negate
                                    <a href="https://stripe.com/pricing" target="_blank">Stripe’s fees</a> and
                                    to encourage users to switch to USDC.
                                </p>
                            </li>
                            <li>
                                <b>USDC stablecoin</b>
                                <p>
                                    Pegged 1:1 with the USD, USDC enables secure, peer-to-peer, and worldwide
                                    payments on the Ethereum blockchain.
                                    Simmate does not enforce any minimum payment with USDC. Currently, we
                                    only support USDC on Ethereum and Base chains, but reach out if you
                                    would like us to add support for other stablecoins and/or chains.
                                    And if you are new to cryptocurrencies and USDC, we recommend that beginners use
                                    <a href="https://www.base.org/" target="_blank">the Base app</a> to
                                    create a wallet and send USDC.
                                </p>
                            </li>
                            <li>
                                <b>Venmo <small><em>(not recommended)</em></small></b>
                                <p>
                                    In the US, Venmo is well established and convienient method for small
                                    transactions. Just like with Stripe, Simmate enforces a minimum payment
                                    of $25 for Venmo transactions to negate
                                    <a href="https://help.venmo.com/cs/articles/business-profile-transaction-fees-vhel221"
                                       target="_blank">Venmo’s fees</a> and
                                    to encourage users to switch to USDC. Payment made via Venmo must be
                                    manually added to the Simmate system by a member of our team - so there
                                    will be a delay in the funds showing in your balance. For this reason,
                                    we ask that users fund via Venmo only as a last resort.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="p-3 pb-md-4 mx-auto col-6 border-right">
            <h1 class="display-5 fw-normal text-body-emphasis d-flex justify-content-center align-items-center">
                <img src="/static/images/simmate-token-icon.svg" height="50" class="me-2">
                Tokens
            </h1>
            <h5 class="text-muted text-center mb-3">
                1 Token = $1 of estimated costs <em>outside</em> of Simmate
            </h5>
            <div class="alert alert-secondary" role="alert">
                <div class="row align-items-center">
                    <div class="col">
                        <p>
                            Simmate tokens have no physical value and are only used for planning and budgeting.
                            Your token balance is unlimited since Tokens are purely theoretical, and you can adjust your balance in the navbar.
                        </p>
                        <p>
                            As an example of how tokens are used, let's say you submit a molecule to the "Synthesis Tracker" app,
                            indicating that you plan to run a synthesis of it. This costs nothing to submit & track
                            in the website, but you may still want to record the total costs of actually running this
                            synthesis in the lab (e.g., labor, reagents, etc.). You track these costs using Tokens.
                            And as you record many syntheses and assay runs, you will be able to track real-world costs
                            dedicated to specific projects, regions chemical chemical space, or specific hypotheses.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
