{% load static %}
{% load unicorn %}
<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
    <head>
        {# Indicate which Character Encoding set the browser should use #}
        <meta charset="utf-8">
        {# Title of the page (located in the tab header) #}
        <title>
            {% block tabtitle %}Simmate{% endblock %}
        </title>
        {# Set the icons to use in the tab header #}
        <link rel="apple-touch-icon"
              sizes="76x76"
              href="{% static 'images/simmate-icon.svg' %}">
        <link rel="icon"
              type="image/png"
              href="{% static 'images/simmate-icon.svg' %}">
        {# Set meta data for responsive viewport scaling/size (i.e. phone vs monitor) #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A toolkit and framework for materials science"
              name="description" />
        <meta content="The Simmate Team" name="author" />
        {# Bootstrap CSS #}
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
              crossorigin="anonymous">
        {# Bootstrap Icons #}
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
        {# Simmate CSS #}
        <link rel="stylesheet"
              type="text/css"
              href='{% static "/css/simmate.css" %}'>
        {# CodeHilite CSS #}
        <link rel="stylesheet"
              type="text/css"
              href="{% static '/css/codehilite.css' %}">
        {# Plotly Javascript #}
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        {# Django-unicorn scripts (+custom styling) for dynamic webpages / AJAX calls #}
        {% unicorn_scripts %}
        <link rel="stylesheet"
              type="text/css"
              href='{% static "/css/unicorn_errors.css" %}'>
        {# Load the RDKit JS file #}
        <script src="https://unpkg.com/@rdkit/rdkit@2024.3.5-1.0.0/dist/RDKit_minimal.js"></script>
        {# Load ChemDoodle JS and CSS #}
        <link rel="stylesheet"
              href="https://archives.simmate.org/assets/chemdoodle/ChemDoodleWeb.css"
              type="text/css">
        <script type="text/javascript"
                src="https://archives.simmate.org/assets/chemdoodle/ChemDoodleWeb.js"></script>
        <link rel="stylesheet"
              href="https://archives.simmate.org/assets/chemdoodle/uis/jquery-ui-1.11.4.css"
              type="text/css">
        <script type="text/javascript"
                src="https://archives.simmate.org/assets/chemdoodle/uis/ChemDoodleWeb-uis.js"></script>
        {% comment %}
            For customized servers that use ChemDraw instead of ChemDoodle, you can specify your ChemDraw
            server like so (this is the official server as an example):
                <script src="https://chemdrawdirect.perkinelmer.cloud/js/chemdrawweb/chemdrawweb.js"></script> 
            All ChemDoodle JS/CSS code in the section above this can then be removed. In addition, the
            custom simmate javascript "chemdoodle_utils" needs to be replaced with:
                <script type="text/javascript" src="{% static "js/chemdraw_utils.2025_04_18.js" %}"></script>
            NOTE: ChemDraw requires a license, which you can place in any app folder with the
            following path: 
                static/licenses/ChemDraw-JS-License.xml
            Then set this in the header as well:
                <script>var ChemDrawLicenseURL = '{% static "/licenses/ChemDraw-JS-License.xml" %}';</script>
        {% endcomment %}
        {# Custom Simmate Javascript #}
        <script type="text/javascript"
                src="{% static "js/rdkit_utils.2024_09_13.js" %}"></script>
        {# <script type="text/javascript" src="{% static "js/chemdraw_utils.2025_04_18.js" %}"></script> #}
        <script type="text/javascript"
                src="{% static "js/chemdoodle_utils.2024_09_03.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/form_utils.2025_06_02.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/progress_bars.2024_05_27.js" %}"></script>
        <script type="text/javascript"
                src="{% static "js/select2_utils.2024_05_27.js" %}"></script>
        {# Some pages may require extra lines in the header such as loading extra libraries #}
        {% block extraheader %}{% endblock %}
    </head>
    <body>
        {# token always required for Django-Unicorn #}
        {% csrf_token %}
        {# The navigation bar is the same for every webpage #}
        {% include "core_components/navbar.html" %}
        {% block breadcrumbs %}
            {% include "core_components/basic_elements/breadcrumbs.html" %}
        {% endblock %}
        {% if not fullpage_dashboard %}
            {# This is the main portion of the webpage #}
            {# TODO: include "core_components/sidebar_left.html" #}
            <div class="container{% if full_width_body %}-flex{% endif %} min-vh-100 py-3">
                {% block body %}{% endblock %}
            </div>
        {% else %}
            {# Some streamlit dashboards are best displayed as a full page. This setup is rare and more rigid #}
            <div class="container-flex min-vh-100">
                <iframe src="{{ dashboard_url }}?embed=true&user_id={{ request.user.id }}"
                        style="height:150vh;
                               width:100%;
                               border:none"></iframe>
            </div>
        {% endif %}
        {% include "core_components/footerbar.html" %}
        {# Many packages for JS libraries should be loaded last #}
        {% include "core_components/footer.html" %}
        {# Sometimes we load extra javascript at the bottom of the page #}
        {% block extrafooter %}{% endblock %}
    </body>
</html>
