{# djlint:off #}
{% if not grouped %}<div class="my-2 text-center">{% endif %}
    <button class="btn btn-{{ theme }} {% if small %}btn-sm{% endif %}"
            {% htmx_post trigger="click" method_name=method_name method_kwargs=method_kwargs javascript_only=javascript_only include=include %}
            hx-disabled-elt>  {# disabled button after submit and until response comes #}
        {% if icon %}<i class="bi bi-{{ icon }} mx-1"></i>{% endif %}
        {% if show_label %}{{ label }}{% endif %}
    </button>
{% if not grouped %}</div>{% endif %}
{# djlint:on #}
