{# djlint:off #}
<div class="my-2">
    {% include "core_components/basic_elements/label.html" %}
    <input id="{{ context.component.component_id }}-{{ name }}"
           name="{{ name }}"
           class="form-control"
           type="text"
           {% if current_value %}
               value="{{ current_value }}"
           {% endif %}
           placeholder="{{ placeholder }}"
           step={{ step_size }}
           {% if max_length %}maxlength="{{ max_length }}"{% endif %}
           {% if not dynamically_set %}hx-preserve{% endif %}
           {% if not defer %}{% htmx_post %}{% endif %}
           {% if disabled %}disabled{% endif %}
           {% if required %}required{% endif %}>
</div>
{# djlint:on #}
