{# djlint:off #}
<div class="my-2">
    {% include "core_components/basic_elements/label.html" %}
    <textarea id="{{ context.component.component_id }}-{{ name }}"
           name="{{ name }}"
           class="form-control"
           cols="{{ ncols }}"
           rows="{{ nrows }}"
           placeholder="{{ placeholder }}"
           hx-preserve
           {% if not defer %}{% htmx_post %}{% endif %}
           {% if disabled %}disabled{% endif %}
           {% if required %}required{% endif %}>{% if current_value %}{{ current_value }}{% endif %}</textarea>
</div>
{# djlint:on #}
