<div>
    <div class="row">
        <div class="col-sm">
            <div class="my-2">
                <table class="table table-centered mb-0">
                    <thead>
                        <tr>
                            <th style="min-width:200px;">
                                <small>Column</small>
                            </th>
                            <th style="min-width:200px;">
                                <small>Metric</small>
                            </th>
                            <th style="min-width:200px;">
                                <small>Value(s)</small>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entry in filter %}
                            <tr>
                                <td>
                                    {% with id=forloop.counter0|stringformat:"i"|add:"sm_entry" %}
                                        <div unicorn:ignore id="hacky-ignore-{{ id }}">{% include "rdkit/molecule_canvas.html" %}</div>
                                    {% endwith %}
                                    {{ entry.compound.label }}
                                </td>
                                <td>
                                    {% if entry.is_limiting %}<i class="mdi mdi-check-circle"></i>{% endif %}
                                </td>
                                <td>{{ entry.amount }}</td>
                                <td>
                                    {{ entry.amount_units }}
                                    {% if entry.amount_units == "equiv" and entry.equivalents_reference != "starting_material" %}
                                        vs. {{ entry.equivalents_reference }}
                                    {% endif %}
                                </td>
                                <td>
                                    <button unicorn:click="remove_starting_material({{ forloop.counter0 }})"
                                            type="button"
                                            class="btn btn-danger btn-sm">
                                        <i class="mdi mdi-minus"></i>
                                    </button>
                                </td>
                            </tr>
                        {% endfor %}
                        {# Add New Filter #}
                        <tr>
                            {# column path #}
                            <td>
                                {% if column_parents %}
                                <ul>
                                    {% for item in column_parents %}
                                        <li>item</li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                                {% if column_options %}
                                    {% include "basic_elements/dropdown_select.html" with name="column_selected" initial_value=column_selected options=column_options options_hash=column_options_hash %}
                                {% endif %}
                            </td>
                            {# metric #}
                            <td>
                                {% if metric_options %}
                                    {% include "basic_elements/dropdown_select.html" with name="metric_selected" initial_value=metric_selected options=metric_options options_hash=metric_options_hash %}
                                {% endif %}
                            </td>
                            {# value #}
                            <td>
                                <input unicorn:model.defer="new_sm_amount"
                                        type="number"
                                        id="new_sm_amount"
                                        class="form-control"
                                        placeholder="0.123">
                            </td>
                            {# Add button #}
                            <td>
                                <div class="btn-group mb-2">
                                    {# refresh button #}
                                    <button unicorn:click="reset_new_starting_material"
                                            type="button"
                                            class="btn btn-warning btn-sm">
                                        <i class="mdi mdi-refresh"></i>
                                    </button>
                                    {# add button #}
                                    <button unicorn:click="add_new_starting_material"
                                            type="button"
                                            class="btn btn-success btn-sm">
                                        <i class="mdi mdi-plus"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
