{% extends "core_components/site_base.html" %}
{% block tabtitle %}Simmate{% endblock %}
{% block banner %}
    {% include "core_components/header.html" %}
{% endblock %}
{% block body %}
    <div class="row">
        {# Buttons & Sidebars #}
        <div class="col-8">
            {# Quick Search Sidebar #}
            {% block quicksearch %}
                {% if quick_search_view %}
                    {% include "data_explorer_dev/table_quick_search.html" %}
                {% endif %}
            {% endblock %}
            {# Filter Sidebar #}
            {% block filters %}
                {% include "data_explorer_dev/table_filters.html" %}
            {% endblock %}
            {# Update Sidebar #}
            {% block updater %}
                {% if updater_view %}
                    {% include "data_explorer_dev/table_updater.html" %}
                {% endif %}
            {% endblock %}
            {# Extra Buttons/Links #}
            <a href="{% url 'data_explorer:provider-about' table.table_name %}"
               class="btn btn-primary my-1">
                <i class="mdi mdi-information"></i>&nbsp;&nbsp;Table Info</a>
            <a href="?format=api"
               target="_blank"
               class="btn btn-outline-dark my-1 disabled">API</a>
            <a href="?format=json"
               target="_blank"
               class="btn btn-outline-dark my-1 disabled">JSON</a>
            <a href="https://jacksund.github.io/simmate/getting_started/database/quick_start/"
               target="_blank"
               class="btn btn-outline-dark">Python</a>
            {% block addnew %}
                {% if add_new_view %}
                    {# for now this is a link, but it should be a unicorn view #}
                    <a href="#" target="_blank" class="btn btn-success disabled">
                        <i class="mdi mdi-plus"></i>&nbsp;&nbsp;New
                    </a>
                {% endif %}
            {% endblock %}
        </div>
        {# Table Description #}
        <div class="col-4">
            <p class="lead text-muted">{{ table.source_long }}</p>
        </div>
    </div>
    {# Search Results #}
    {% include "data_explorer_dev/search_results.html" %}
{% endblock %}
{% block extrafooter %}
    {% include "basic_elements/range_slider_v3js.html" with unicorn_view=unicorn_view label="Priority" name="priority" min=1 max=10 step=1 help_text="A higher number corresponds to being more important and a higher priority" only %}
{% endblock %}
