<div class="offcanvas offcanvas-end w-50" tabindex="-1" id="offcanvasFilter">
    <div class="offcanvas-header bg-dark text-light">
        <h5>Advanced Filtering</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div class="alert alert-primary d-flex align-items-center mt-2">
            <div>
                <small>
                To understand what each column is and how it relates to other tables,
                we recommend keeping the <a href="{% url 'data_explorer:provider-about' table.table_name %}" class="text-dark" target="_blank"><b>Table Info</b></a>
                page open in a separate window while you complete this form.
                </small>
            </div>
        </div>
        <div>
            {% load unicorn %}
            {% csrf_token %}
            {% unicorn 'api-filter' %}
        </div>
        {# Buttons #}
        <div class="p-3 text-center">
            {# Apply Filters #}
            <button type="submit" class="btn btn-primary">
                <i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Search
            </button>
            {# Reset Filters #}
            <a href="." class="btn btn-secondary m-2">
                <i class="mdi mdi-refresh"></i>&nbsp;&nbsp;Reset Filters
            </a>
        </div>
    </div>
</div>
{# Toggle sidebar button #}
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFilter"><i class="mdi mdi-filter py-1"></i>&nbsp;&nbsp;Filter</button>
{% comment %}
    As much as I want pre-set filters & accordions... this is a lot to code out & doesn't work well with dj-unicorn
    <div class="accordion custom-accordion" id="accordionFilters">
        {# Full Search Form #}
        <form method="get" enctype="multipart/form-data">
            {# Exact ID #}
            <div class="card mb-0">
                <div class="card-header" id="headingExactID">
                    <h5>
                        <a class="custom-accordion-title d-block"
                            data-bs-toggle="collapse"
                            href="#collapseExactID"
                            aria-expanded="true"
                            aria-controls="collapseExactID">
                            Entry ID
                            <i class="mdi mdi-chevron-down accordion-arrow"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseExactID"
                        class="collapse"
                        aria-labelledby="headingExactID"
                        data-bs-parent="#accordionExample">
                    <div class="card-body">
                        {# Project #}
                        <div class="my-2">
                            <label class="form-label">Project</label>
                            <input unicorn:model.defer="project"
                                type="text"
                                class="form-control"
                                id="project"
                                placeholder="FAA">
                        </div>
                    </div>
                </div>
            </div>
            {# Date / Time #}
            <div class="card mb-0">
                <div class="card-header" id="headingDateTime">
                    <h5>
                        <a class="custom-accordion-title d-block"
                            data-bs-toggle="collapse"
                            href="#collapseDateTime"
                            aria-expanded="true"
                            aria-controls="collapseDateTime">
                            Date / Time
                            <i class="mdi mdi-chevron-down accordion-arrow"></i>
                        </a>
                    </h5>
                </div>
                <div id="collapseDateTime"
                        class="collapse"
                        aria-labelledby="headingDateTime"
                        data-bs-parent="#accordionExample">
                    <div class="card-body">
                        <div class="alert alert-danger" role="alert">
                            <i class="mdi mdi-alert mx-2"></i>
                            calendar-based selection tool is coming soon
                        </div>
                        {{ form.created_at__range }}
                        {{ form.updated_at__range }}
                    </div>
                </div>
            </div>
            <div class="p-3 text-center">
                {# Search button #}
                <button type="submit" class="btn btn-primary">
                    <i class="mdi mdi-magnify"></i>&nbsp;&nbsp;Update Search
                </button>
                {# Button to remove API arguments #}
                <a href="." class="btn btn-secondary m-2">
                    <i class="mdi mdi-refresh"></i>&nbsp;&nbsp;Reset Filters
                </a>
            </div>
        </form>
    </div>
{% endcomment %}