{# Update Sidebar #}
<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasUpdater">
    <div class="offcanvas-header bg-dark text-light">
        <h5>Update Selected</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <div> Only selected entries will be updated.</div>
        <h5 class="mt-3">List</h5>
        <ul class="ps-3">
            <li class="">Nemo enim ipsam voluptatem quia aspernatur</li>
            <li class="">Neque porro quisquam est, qui dolorem</li>
            <li class="">Quis autem vel eum iure qui in ea</li>
        </ul>
    </div>
</div>
<button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasUpdater"><i class="mdi mdi-pencil py-1"></i>&nbsp;&nbsp;Update</button>
