{% extends "data_explorer/entries.html" %}
{% block table_headers %}
    {% table_header "id" "ID" min_width=150 %}
    {% table_header "composition" %}
    {% table_header "subworkflow_name" "Subworkflow" %}
    {% table_header "fitness_field" "Fitness Field" %}
    {% table_header "nsteadystate" "Steady State Count" %}
    {% include "data_explorer/mixins/calculation/columns.html" %}
{% endblock %}
{% block table_rows %}
    <td>{% foreign_key_link entry "id" %}</td>
    <td>{{ entry.composition }}</td>
    <td>{{ entry.subworkflow_name }}</td>
    <td>{{ entry.fitness_field }}</td>
    <td>{{ entry.nsteadystate }}</td>
    {% include "data_explorer/mixins/calculation/rows.html" %}
{% endblock %}
