<div class="tab-pane show active" id="overview-section">
    <div class="row">
        <div class="col-5">{% include "core/base_data_types/structure.html" %}</div>
        <div class="col-7">
            <table class="table table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th style="width: 45%">Base Info</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>JARVIS ID</td>
                        <td>
                            <a href="{{ table_entry.external_link }}" target="_blank">
                                {{ table_entry.id }} <i class="mdi mdi-open-in-new"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Energy Above Hull</td>
                        <td>
                            {% if table_entry.energy_above_hull is not None %}
                                {{ table_entry.energy_above_hull|floatformat:4 }} eV/atom
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Formula (Reduced)</td>
                        <td>{{ table_entry.formula_reduced }}</td>
                    </tr>
                    <tr>
                        <td>Spacegroup</td>
                        <td>{{ table_entry.spacegroup.symbol }} ({{ table_entry.spacegroup.number }})</td>
                    </tr>
                    <tr>
                        <td>Number of Sites</td>
                        <td>{{ table_entry.nsites }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
