/* custom.css (must load after bootstrap.css) */
:root {
  /* --bs-body-bg: #9c9ea1;  */
  /* --bs-body-bg-rgb: 156, 158, 161; */
  --bs-primary: #009199;
  --bs-primary-rgb: 0, 145, 153;
}


a {
  color: #2fb175;
  text-decoration: none; /* no underline */
}

a:hover,
a:focus {
  color: var(--bs-primary-dark); /* optional: darker shade on hover */
  text-decoration: none; /* no underline */
}

.btn-primary {
  --bs-btn-bg: var(--bs-primary);
  --bs-btn-border-color: var(--bs-primary);
  --bs-btn-hover-bg: #d81b60;
  --bs-btn-hover-border-color: #c2185b;
  --bs-btn-active-bg: #ad1457;
  --bs-btn-active-border-color: #880e4f;
}

.nav-tabs .nav-link:not(.active) {
  color: var(--bs-secondary);
}

/* For the django-unicorn and htmx loading spinner */
.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(125, 125, 125, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.loading-spinner {
  border: 24px solid #f3f3f3;
  border-top: 24px solid #0072ce;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
