<div class="tab-pane" id="thermodynamics-section">
    <div class="row">
        <div class="col-xl-7">
            <table class="table table-centered table-striped mb-0 border">
                <thead class="table-primary">
                    <tr>
                        <th style="width: 45%">Stability and Energy</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Energy Above Hull</td>
                        <td>
                            {% if table_entry.energy_above_hull is not None %}
                                {{ table_entry.energy_above_hull|floatformat:4 }} eV/atom
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Formation Energy</td>
                        <td>
                            {% if table_entry.formation_energy is not None %}
                                {{ table_entry.formation_energy|floatformat:4 }} eV/atom
                            {% else %}
                                --
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Is Stable?</td>
                        <td>
                            {% if table_entry.is_stable %}
                                <i class="mdi mdi-check text-success"></i> Yes
                            {% else %}
                                <i class="mdi mdi-close text-danger"></i> No
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Final Energy</td>
                        <td>{{ table_entry.energy|floatformat:4 }} eV</td>
                    </tr>
                    <tr>
                        <td>Final Energy (Per Atom)</td>
                        <td>{{ table_entry.energy_per_atom|floatformat:4 }} eV/atom</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
