<div class="tab-pane" id="config-section">
    <div class="row m-5">
        <div class="table-responsive">
            <table class="table table-striped align-middle">
                <tbody>
                    <tr>
                        <td>Source Code</td>
                        <td>
                            <a type="button"
                               class="btn btn-sm btn-dark"
                               href="{{ workflow.source_code_link }}"
                               target="_blank">
                                Github <i class="bi bi-github"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Tags</td>
                        <td>
                            {% for tag in workflow.tags %}<span class="badge text-bg-primary">{{ tag }}</span>&nbsp;{% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td>Python Class Name</td>
                        <td>
                            <code class="text-dark">{{ workflow.name_python }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>Python Path</td>
                        <td>
                            <code class="text-dark">{{ workflow.python_path }}</code>
                        </td>
                    </tr>
                    <tr>
                        <td>Database Table</td>
                        <td>
                            <code class="text-dark">{{ workflow.database_table.table_name }}</code>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row m-5">{{ workflow.get_config_markdown|markdown }}</div>
</div>
