{# EXAMPLE USE: include "basic_elements/dropdown_select.html" with label="Numer of atoms:" min=1 max=200 form_field=form.num_atoms__range only #}
{# options should be a list of tuples: (value, display) #}
<div unicorn:ignore class="my-2">
    {% if label %}
        <label class="form-label">{{ label }}</label>
    {% endif %}
    <select id="{{ name }}"
            class="select2 form-control"
            data-toggle="select2"
            data-placeholder="Choose one ..."
            onchange="Unicorn.call('{{ unicorn_view }}', 'set_{{ name }}', $('#{{ name }}').val());">
        {% if current_value %}
            <option value="{{ current_value }}">
                {% if current_display %}
                    {{ current_display }}
                {% else %}
                    {% for option in options %}
                        {% if current_value == option.0 %}{{ option.1 }}{% endif %}
                    {% endfor %}
                {% endif %}
            </option>
        {% else %}
            <option value="NONE">Choose one...</option>
        {% endif %}
        {% for option in options %}
            {% if option.0 != current_value and option.0 != first_value %}
                <option value="{{ option.0 }}">{{ option.1 }}</option>
            {% endif %}
        {% endfor %}
    </select>
</div>
