<!-- Composition filters -->
<div class="card mb-0">
    <div class="card-header" id="headingCompFilters">
        <h5 class="m-0">
            <a class="custom-accordion-title d-block pt-2 pb-2"
               data-bs-toggle="collapse"
               href="#collapseCompFilters"
               aria-expanded="true"
               aria-controls="collapseCompFilters">
                By Composition Info:
                <i class="mdi mdi-chevron-down accordion-arrow"></i>
            </a>
        </h5>
    </div>
    <div id="collapseCompFilters"
         class="collapse"
         aria-labelledby="headingCompFilters"
         data-bs-parent="#accordionExample">
        <div class="card-body">
            <!-- number of elements
            <div id="div_id_nelements__range" class="form-group">
                {{ form.nelements__range.errors }}
                <label for="{{ form.nelements__range.id_for_label }}" class="">Number of Elements:</label>
                <input type="text" name="{{ form.nelements__range.html_name }}" id="{{ form.nelements__range.html_name }}" data-plugin="range-slider" data-min="1" data-max="10" data-input-values-separator="," data-max_postfix="+" data-from="{% if form.nelements__range.value %} {{ form.nelements__range.value.0 }} {% else %} 1 {% endif %}" data-to="{% if form.nelements__range.value %} {{ form.nelements__range.value.1 }} {% else %} 10 {% endif %}" data-type="double" data-grid="true">
            </div>
-->
            <!-- {{ form.nelements__range }} -->
            {{ form.formula_anonymous }}
            {{ form.formula_full }}
            {{ form.formula_reduced }}
            {{ form.chemical_system }}
            {{ form.include_subsystems }}
        </div>
    </div>
</div>
<!-- Structure filters -->
<div class="card mb-0">
    <div class="card-header" id="headingStructFilters">
        <h5 class="m-0">
            <a class="custom-accordion-title d-block pt-2 pb-2"
               data-bs-toggle="collapse"
               href="#collapseStructFilters"
               aria-expanded="true"
               aria-controls="collapseStructFilters">
                By Structure Info:
                <i class="mdi mdi-chevron-down accordion-arrow"></i>
            </a>
        </h5>
    </div>
    <div id="collapseStructFilters"
         class="collapse"
         aria-labelledby="headingStructFilters"
         data-bs-parent="#accordionExample">
        <div class="card-body">
            {{ form.nsites__range }}
            {{ form.density__range }}
            {{ form.density_atomic__range }}
            {{ form.volume__range }}
            {{ form.volume_molar__range }}
        </div>
    </div>
</div>
<!-- Symmetry filters -->
<div class="card mb-0">
    <div class="card-header" id="headingSymmFilters">
        <h5 class="m-0">
            <a class="custom-accordion-title d-block pt-2 pb-2"
               data-bs-toggle="collapse"
               href="#collapseSymmFilters"
               aria-expanded="true"
               aria-controls="collapseSymmFilters">
                By Symmetry Info:
                <i class="mdi mdi-chevron-down accordion-arrow"></i>
            </a>
        </h5>
    </div>
    <div id="collapseSymmFilters"
         class="collapse"
         aria-labelledby="headingSymmFilters"
         data-bs-parent="#accordionExample">
        <div class="card-body">
            {{ form.spacegroup__number }}
            {{ form.spacegroup__symbol }}
            {{ form.spacegroup__crystal_system }}
            {{ form.spacegroup__point_group }}
        </div>
    </div>
</div>
