<footer class="py-3 mt-auto border-top">
    <div class="container">
        <div class="row px-3">
            <div class="col-md-6 text-muted">
                Simmate <script>document.write(new Date().getFullYear())</script>
            </div>
            <div class="col-md-6 d-none d-md-flex justify-content-md-end gap-3">
                <a href="{% url 'about' %}" class="text-secondary text-decoration-none"><i class="bi bi-info-circle"></i> About</a>
                <a href="{% url 'contact' %}"
                   class="text-secondary text-decoration-none"><i class="bi bi-envelope"></i> Contact</a>
            </div>
        </div>
    </div>
</footer>
