{% extends "core_components/site_base.html" %}
{% block tabtitle %}About - Simmate{% endblock %}
{% block body %}
    {% load static %}
    <div class="row mt-5 mb-3">
        <img src="{% static 'images/simmate-logo-dark.svg' %}" height="200">
    </div>
    <div class="row align-items-center mb-5">
        <div class="col-12 px-5 text-center">
            <h2 class="fs-2 fw-normal lh-1 text-body-secondary">
                an open collective & full-stack framework for chemistry research
            </h2>
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-md-12 px-5">
            <h3>Our mission</h3>
            <p class="lead">
                Simmate's primary goal is to build a community that openly shares chemistry data and infrastructure.
                We believe that energy is wasted and research is slowed when
                academics repeatedly perform the same calculations in isolation,
                so we sought to build a platform
                for open collaboration. This is why in our
                public website you only pay for computational resources that
                are not your own, and all workflow results are
                openly accessible to everyone.
                However, for the majority of researchers that work with
                confidential data, we still wish to collaborate
                through building the chemistry infrastructure together.
                For this reason, 100% of our codebase is open-source, and it is
                free to setup you own private server.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-database"></i> All data is free & open
            </h3>
            <p class="lead">
                Easy, unrestricted access to data is what enables new ideas and great
                science. This is because we as researchers must understand what has been
                done before in order to truly innovate and do something new next.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-cpu"></i> Compute is scalable & collaborative
            </h3>
            <p class="lead">
                The type of computational resources that researchers have access to
                varies greatly depending on if you are in academia, industry, or
                even just a hobbyist.
                Our infrastructure scales across the cloud, HPC, &
                personal computers to carryout calculations together.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-coin"></i> Earnings are accessible to anyone*
            </h3>
            <p class="lead">
                You can earn when you contribute computer resources for
                others to use. And to make everything as transparent & fair as possible,
                we make our financial data public - so you can trust that the science
                is coming first.
            </p>
            <p class="lead">
                <small>
                    <em>
                        * payouts depend on several factors, such the demand created by
                        other users and how much compute you provided.
                        Make sure you read and understand our
                        <a href="#" target="_blank">
                            pay distribution strategy
                            <i class="bi bi-box-arrow-up-right"></i>
                        </a>.
                    </em>
                </small>
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-clipboard2-data"></i> Popular chemistry datasets are built-in
            </h3>
            <p class="lead">
                The most frequently cited datasets in the chemistry community are integrated
                into Simmate -- meaning Simmate serves as a one-stop-shop for you to
                search accross all datasets. Easily bring data into larger projects
                in a clean and standardized way.
            </p>
            <p class="lead">
                <small>
                    <em>
                        * We can only redistribute data when the original provider's
                        licensing allows it. For this reason, some datasets can only be
                        used by locally installing Simmate & downloading the data
                        *directly* from the third-party provider.
                    </em>
                </small>
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
        <div class="col-md-7">
            <h3>
                <i class="bi bi-diagram-3"></i> Workflows are built on trusted software
            </h3>
            <p class="lead">
                There is an endless list of software to consider for the many types of chemistry
                calculations out there. Simmate simplifies the use & scaling of other
                popular applications in computational chemistry literature. Explore
                our library of workflows or leverage our toolkit to build your own.
            </p>
        </div>
    </div>
    <hr class="my-5">
    <div class="row align-items-center">
        <div class="col-md-7">
            <h3>
                <i class="bi bi-github"></i> The codebase is 100% open-source
            </h3>
            <p class="lead">
                Simmate is built on top of other open-source giants like PyMatGen, RDkit,
                Django, Postgres, and htmx. This makes every part of our software
                completely free to install and use. Set up your own server or
                collaborate here with us in the public website.
            </p>
        </div>
        <div class="col-md-5">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pyplot_005.png"
                 height="300">
        </div>
    </div>
    <hr class="my-5">
    <div class="row ">
        <div class="col-lg-12">
            <div class="text-center ">
                <p class="mt-2">
                    To learn more about Simmate's team and history, visit our <a href="{% url 'about' %}">About</a> page.
                </p>
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-12">
            <div class="text-center ">
                <p class="mt-2">
                    To learn more about Simmate's framework and codebase, visit our our <a href="https://jacksund.github.io/simmate/home/" target="_blank">Documentation</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
