{% extends "core_components/site_base.html" %}
{% block tabtitle %}Simmate{% endblock %}
{% block banner %}
    {% include "core_components/header.html" %}
{% endblock %}
{% block body %}
    <!-- Page title -->
    <div class="row pt-3">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item">
                            <a href="{% url 'data_explorer:home' %}">Data</a>
                        </li>
                        <li class="breadcrumb-item active">{{ provider.source }}</li>
                    </ol>
                </div>
                <h4 class="page-title">
                    {{ provider.source }}  <i class="mdi mdi-database me-1"></i>
                </h4>
            </div>
        </div>
    </div>
    <!-- Table name, description, quick links -->
    <div class="row">
        <!-- Search Form -->
        <div class="col-8">
            {% include "core_components/search_form.html" %}
            <a href="{{ provider.homepage }}"
               target="_blank"
               class="btn btn-primary my-1">
                <i class="mdi mdi-information"></i>&nbsp;&nbsp;Documentation</a>
            <a href="{{ provider.homepage }}"
               target="_blank"
               class="btn btn-outline-dark my-1">Source</a>
            <a href="{{ provider.source_doi }}"
               target="_blank"
               class="btn btn-outline-dark my-1">Cite</a>
            <a href="?format=api" target="_blank" class="btn btn-outline-dark my-1">API</a>
            <a href="?format=json" target="_blank" class="btn btn-outline-dark my-1">JSON</a>
            <a href="https://jacksund.github.io/simmate/getting_started/access_the_database/quick_start/"
               target="_blank"
               class="btn btn-outline-dark">Python</a>
        </div>
        <!-- Extra links -->
        <div class="col-4">
            <p class="lead text-muted">{{ provider.source_long }}</p>
        </div>
    </div>
    <!-- Search Results -->
    {% include "data_explorer/search_results.html" %}
{% endblock %}
