{% extends "data_explorer/table_entries_base.html" %}
{% block table_headers %}
    {% table_header "id" "Hash:Type:ID" min_width=700 %}
    {% table_header "from_address" "From" min_width=400 %}
    {% table_header "from_address" "To" min_width=400 %}
    {% table_header "chain" "Chain" min_width=150 %}
    {% table_header "asset" "Asset" min_width=150 %}
    {% table_header "amount" "Amount" min_width=150 %}
    {% table_header "created_at_original" "Date" min_width=250 %}
{% endblock %}
{% block table_rows %}
    <td>{% foreign_key_link entry %}</td>
    <td>
        {% if entry.from_address.ens_name %}
            {% foreign_key_link entry.from_address "ens_name" %}
        {% else %}
            {% foreign_key_link entry.from_address %}
        {% endif %}
    </td>
    <td>
        {% if entry.to_address.ens_name %}
            {% foreign_key_link entry.to_address "ens_name" %}
        {% else %}
            {% foreign_key_link entry.to_address %}
        {% endif %}
    </td>
    <td>{{ entry.chain }}</td>
    <td>{{ entry.asset }}</td>
    <td>
        {% if entry.asset == "ETH" %}
            &Xi;{{ entry.amount|floatformat:6 }}
        {% elif entry.asset == "USDC" %}
            ${{ entry.amount|floatformat:2 }}
        {% else %}
            {{ entry.amount|floatformat:6 }}
        {% endif %}
    </td>
    <td>{{ entry.created_at_original|date:"M. jS Y @ P T" }}</td>
{% endblock %}
