<td>{% selectbox name="project_id" options=project_options show_label=False %}</td>
{# bug: need the id because selectbox isn't going away for some reason... #}
<td id="{{ unicorn.component_key }}-hypothesis-id">
    {% if hypothesis_options %}
        {% selectbox name="hypothesis_id" options=hypothesis_options dynamic_options=True show_label=False %}
    {% endif %}
</td>
<td id="{{ unicorn.component_key }}-tag-id">
    {% if tag_options %}
        {% selectbox name="tag_ids" label="Tags" options=tag_options dynamic_options=True multiselect=True show_label=False %}
    {% endif %}
</td>
